ion-card {
  border-radius: 15px;
  --background: var(--ion-color-primary);
  --color: white;
}

.time {
  color: #919191;
  font-size: 11px;
}




ion-card-content {
  // padding-inline-start: 0;
  // padding-inline-end: 0 !important;
  // padding-top: 00px !important;
  // padding-bottom: 0px !important;
  // padding-left: 0 !important;
  font-size: 14px !important;
}

ion-card {
  // padding-bottom: 10px !important;
  max-width: 292px !important;
  padding: 0;
}