<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none" class="ion-no-padding">
      <!-- <ion-icon (click)="goBack()" class="back-icon" name="arrow-back-circle"></ion-icon> -->
      <ion-icon (click)="goBack()" class="back-icon" name="arrow-back-circle"></ion-icon>
      <ion-avatar class="image ion-margin-horizontal">
        <img *ngIf="!item?.is_chatbot" [src]="item?.isGroup ? item?.media_upload?.url : item?.profile_image"
          onerror="this.onerror=null;this.src='./../../../assets/Images/dummy-avatar.png';" />

        <img *ngIf="item?.is_chatbot" src="./../../../assets/Images/deer-icon.jpg" />
        <!-- <div class="online-indicator"></div> -->
      </ion-avatar>
      <ion-label>
        <h2 class="title f-pop-smb">{{item?.isGroup ? item?.title :item?.name}}</h2>
        <!-- <p class="f-pop-r content">Online {{item.time}} mins ago</p> -->
      </ion-label>

      <ion-icon slot="end" *ngIf="item?.isGroup" name="person-remove-outline" (click)="leave()"></ion-icon>
      <!-- <ion-img src="assets/images/call-ic.png" slot="end"></ion-img>
      <ion-img src="assets/images/video-ic.png" slot="end"></ion-img>
      <ion-img src="assets/images/user-ic.png" slot="end"></ion-img> -->
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content #content [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
  <ion-grid *ngIf="!isLoading">
    <ion-row>

      <!-- <ion-infinite-scroll *ngIf="!loading" (ionInfinite)="loadmoremessages($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
      <div class="spinner" style="width: 100%;" *ngIf="newmsgloading && next_page_url">
        <ion-spinner color="primary"></ion-spinner>
      </div>

      <ng-container *ngIf="!item?.is_chatbot">
        <ion-col size="12" *ngFor="let item of messages">
          <div class="ion-float-left" *ngIf="!user">
            <left-row [item]="item"></left-row>
          </div>
          <div class="ion-float-left" *ngIf="user">
            <left-row *ngIf="item.sender_id !== user?.id" [item]="item"></left-row>
          </div>
          <div class="ion-float-right" *ngIf="user">
            <right-row *ngIf="item.sender_id === user?.id" [item]="item"></right-row>
          </div>
        </ion-col>
      </ng-container>

      <ng-container *ngIf="item?.is_chatbot">
        <ion-col size="12" *ngFor="let item of messages">
          <ion-grid *ngIf="item.prompt_content != ''" class="ion-no-padding chatitem prompt_content">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="12">
                <ion-card class="ion-padding ion-no-margin f-pop-m" style="border-bottom-left-radius: 0px;">
                  <ion-card-content *ngIf="item.prompt_content">
                    {{ item.prompt_content }}
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin ion-margin-start">
              <ion-col class="ion-no-padding" size="12">
                <p class="f-pop-m time">{{ item.created_at | date:'short' }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf="item.response_content != ''" class="ion-no-padding chatitem response_content">
            <p style="font-weight: bold; font-size: 1.5vh; margin-bottom: 3px; margin-left: 2px;" >Big Buck</p>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="12">
                <ion-card class="ion-padding ion-no-margin f-pop-m" style="border-bottom-right-radius: 0px;">
                  <ion-card-content *ngIf="item.response_content">
                    {{ item.response_content }}
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin ion-margin-start">
              <ion-col class="ion-no-padding" size="12">
                <p class="f-pop-m time">{{ item.created_at | date:'short' }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <div class="shortspinner" *ngIf="isMsgLoading">
          <ion-spinner color="primary"></ion-spinner>
        </div>

      </ng-container>


    </ion-row>
  </ion-grid>


  <div class="spinner" *ngIf="!isMsgLoading && isLoading">
    <ion-spinner color="primary"></ion-spinner>
    <!-- <p>Loading...</p> -->
  </div>
  <div class="spinner" *ngIf="!isLoading && messages.length == 0">
    <p>No message found</p>
  </div>

  <div class="tempimage" *ngIf="_img">
    <button (click)="removeTempImg()">
      <ion-icon name="trash-outline"></ion-icon>
    </button>
    <img src="{{_img}}" />
  </div>

</ion-content>

<ion-footer style="background-color: white" *ngIf="!item?.is_admin && !item?.is_chatbot">
  <div class="bottominputbox">
    <ion-input [(ngModel)]="text" placeholder="Type your message..." class="inputchat">
    </ion-input>
    <div>
      <ion-button *ngIf="!item?.is_chatbot" fill="clear" (click)="uploadPicture()">
        <!-- <ion-icon name="attach-outline"></ion-icon> -->
        <ion-icon name="image-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="sendMessage()" [disabled]="isMsgLoading">
        <!-- <ion-icon name="send"></ion-icon> -->
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-padding ion-padding-start">
          <ion-row class="ion-no-padding">
            <ion-col size="9" style="margin-top: 8px" class="ion-no-padding">
              <ion-input [(ngModel)]="text" placeholder="Type here..." class="inputchat">
              </ion-input>

            </ion-col>
            <ion-col size="3" style=" display: flex; align-items: center; ">
              <ion-button fill="clear" (click)="uploadPicture()">
                <ion-icon name="attach-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="sendMessage()" [disabled]="isMsgLoading">
                <ion-icon name="send"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-footer>

<ion-footer style="background-color: white" *ngIf="item?.is_chatbot">
  <div class="bottominputbox">
    <ion-input [(ngModel)]="text" placeholder="Type your message..." class="inputchat">
    </ion-input>
    <div>
      <ion-button fill="clear" (click)="askChatBot()" [disabled]="isMsgLoading">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-footer>