.stripe {
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 95%;
    padding: 10px;
}

.error-text {
    color: red;
}
