<app-header [title]="'Stripe Payment'"></app-header>

<ion-content>
  <div class="ion-text-center">
    <img class="stripe" src="../../../assets/stripe.png" />
  </div>

  <ion-grid style="margin-bottom: 30px" class="ion-margin-start">
    <ion-row>
      <ion-col size="12">
        <ion-label>Card Number</ion-label>
        <ion-input class="input ion-padding" placeholder="Enter Card Number" [(ngModel)]="data.number"
          (input)="onChanged($event,'number')" type="number">
        </ion-input>

      </ion-col>
      <ion-col size="12">
        <ion-label>Exp Month</ion-label>
        <ion-input type="number" class="input ion-padding" placeholder="Enter Exp Month" [(ngModel)]="data.expMonth"
          (input)="onChanged($event,'expMonth')"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>Exp Year</ion-label>
        <ion-input type="number" class="input ion-padding" placeholder="Enter Exp Year" [(ngModel)]="data.expYear"
          (input)="onChanged($event,'expYear')"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>CVC</ion-label>
        <ion-input type="number" class="input ion-padding" placeholder="Enter CVC Number" [(ngModel)]="data.cvc"
          (input)="onChanged($event,'cvc')"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center">
    <ion-button style="font-size: 16px;" color="dark" (click)="submit()">Confirm Payment</ion-button>
  </div>

  <!-- <div class="ion-text-center">
    <ion-button
      style="font-size: 16px"
      color="dark"
      expand="block"
      (click)="wallet()"
      >Pay with Apple</ion-button
    >
  </div> -->

</ion-content>