<!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/pages/home">
            <ion-icon aria-hidden="true" name="triangle"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" href="/pages/profile">
            <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="dashboard" href="/pages/dashboard">
            <ion-icon aria-hidden="true" name="square"></ion-icon>
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> -->


<!-- <ion-tabs>
    <ion-tab-bar slot="bottom" class="iontabbar">
        <ion-tab-button tab="conversations" href="/pages/conversations">
            <i class="iconsax" icon-name="messages-2" style="font-size: 30px;"></i>
            <ion-label>Chat</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="dating" href="/pages/dating">
            <ion-badge color="danger">2</ion-badge>
            <i class="iconsax" icon-name="hearts" style="font-size: 30px;"></i>
            <ion-label>Dating</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="home" href="/pages/home" class="middlehome">
            <i class="iconsax" icon-name="home-1" style="font-size: 35px;"></i>
        </ion-tab-button>
        <ion-tab-button tab="marketplace" href="/pages/marketplace">
            <ion-badge color="danger">11</ion-badge>
            <i class="iconsax" icon-name="basket-2" style="font-size: 30px;"></i>
            <ion-label>Market Place</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="dashboard" href="/pages/dashboard">
            <i class="iconsax" icon-name="setting-2" style="font-size: 30px;"></i>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> -->

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/pages/home">
            <i class="iconsax" icon-name="home-1" style="font-size: 30px;"></i>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="dating" href="/pages/dating">
            <!-- <ion-badge color="danger">2</ion-badge> -->
            <i class="iconsax" icon-name="hearts" style="font-size: 30px;"></i>
            <ion-label>Dating</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="marketplace" href="/pages/marketplace">
            <!-- <ion-badge color="danger">11</ion-badge> -->
            <i class="iconsax" icon-name="basket-2" style="font-size: 30px;"></i>
            <ion-label>Market Place</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="dashboard" href="/pages/dashboard">
            <i class="iconsax" icon-name="setting-2" style="font-size: 30px;"></i>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>