.bg {
    background-image: url(/assets/images/news_letter_bg.jpg);
    background-attachment: fixed;
    margin-bottom: -10px;
}

.btn2 {
    color: black;
    --background: white;
    width: 130px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 45px;
    font-size: 15px;
}
