.title {
  font-size: 17px;
}

// ion-img {
//   height: 120px;
//   width: 125px;
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%;
// }

.select{
  background-color: var(--ion-color-primary);
  color: white;
}

ion-card-title {
  font-size: 15px;
}

ion-card-subtitle {
  font-size: 11px;
}
