<app-header [title]="'DATING'" [showcurve]="true" [showSearch]="false" [showMenu]="false" [back]="true">
</app-header>

<ion-content>

  <app-dating-banner></app-dating-banner>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-row class="ion-margin-top">
    <ion-col size="12">
      <ion-item>
        <ion-searchbar
          [(ngModel)]="search"
          (ngModelChange)="getData()"
          class="ion-margin-bottom"
          placeholder="Use filters to get desired results "
        >
        </ion-searchbar>
      </ion-item>
    </ion-col>
  </ion-row> -->
  <div style="width: 100%; align-items: center; display: flex; padding: 0 20px 0 10px; margin-top: 15px;">
    <ion-searchbar placeholder="Search" [(ngModel)]="search" (ngModelChange)="getData()"></ion-searchbar>
    <div>
      <!-- <ion-select placeholder="Select One" [(ngModel)]="dating_users" (ngModelChange)="getData()">
        <ion-select-option [value]="0">HUNTING</ion-select-option>
        <ion-select-option [value]="1">DATING</ion-select-option>
      </ion-select> -->
      <ion-button class="filterbtn" slot="end" (click)="filter()"> <ion-icon name="options-outline"></ion-icon> Filter
      </ion-button>
    </div>
  </div>

  <div class="filters">
    <p *ngIf="ages"><strong>Ages</strong><span *ngFor="let x of ages">{{x}}</span></p>
    <p *ngIf="genders"><strong>Genders</strong><span *ngFor="let x of genders">{{x}}</span></p>
    <p *ngIf="interests"><strong>Interests</strong><span *ngFor="let x of interests">{{x}}</span></p>
    <p *ngIf="state"><strong>States</strong><span>{{statename}}</span></p>
    <p *ngIf="city"><strong>City</strong><span>{{cityname}}</span></p>
  </div>
  <!-- <p *ngIf="filters?.ages">Ages: {{filters?.ages}}</p>
  <p *ngIf="filters?.genders">Gender: {{filters?.genders}}</p>
  <p *ngIf="filters?.interests">Interests: {{filters?.interests}}</p>
  <p *ngIf="filters?.state">States: {{filters?.state}}</p>  -->

  <app-disclaimer></app-disclaimer>

  <div class="spinner" *ngIf="loading && !refresh">
    <ion-spinner name="lines" color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>



  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="4" *ngFor="let item of datings | filter:search">
        <dating-item [item]="item" (update)="getData()"></dating-item>
      </ion-col>
      <div *ngIf="!loading && !refresh && datings.length == 0" class="nodatafound">
        <p>No Records found</p>
      </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>


    </ion-row>
  </ion-grid>

  <footer></footer>
</ion-content>

<chat-floating-button></chat-floating-button>