.title {
  font-size: 17px;
}

// ion-img {
//   height: 120px;
//   width: 125px;
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%;
// }

.select {
  background-color: var(--ion-color-primary);
  color: white;
}

ion-card-title {
  font-size: 15px;
}

ion-card-subtitle {
  font-size: 11px;
}

.filters {
  padding: 0 20px;

  p {
    margin: 0 0 8px 0;
    font-size: 13px;
    text-transform: uppercase;

    strong {
      margin-right: 10px;
    }

    span {
      margin-right: 4px;
      background: #ddd;
      padding: 2px 7px;
      border-radius: 4px;
      text-transform: uppercase;
    }
  }
}