.title {
  font-size: 17px;
}

// ion-img {
//   height: 120px;
//   width: 125px;
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%;
// }

.select {
  background-color: var(--ion-color-primary);
  color: white;
}

ion-card-title {
  font-size: 15px;
}

ion-card-subtitle {
  font-size: 11px;
}

.filterbtn {
  font-size: 15px;
  height: 40px;

  ion-icon {
    margin-right: 7px;
  }
}

.filters {
  padding: 7px 20px 0px 20px;

  p {
    margin: 0 0 8px 0;
    font-size: 13px;
    text-transform: uppercase;

    strong {
      margin-right: 10px;
    }

    span {
      margin-right: 4px;
      background: #ddd;
      margin-bottom: 4px;
      padding: 2px 7px;
      border-radius: 4px;
      text-transform: uppercase;
      display: inline-block;
    }
  }
}

.nodatafound {
  text-align: center;
  width: 100%;
}

.spinner {
  flex-direction: column;
  height: calc(100vh - 100vh/2);

  p {
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 5px;
  }
}