<ion-grid class="ion-no-padding chatitem">
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding" size="12">
      <p style="font-weight: bold; font-size: 1.5vh; margin-bottom: 3px; margin-left: 2px;" *ngIf="item.isGroup">
        {{item.sender?.name}}</p>
      <ion-card class="ion-padding ion-no-margin f-pop-m" style="border-bottom-left-radius: 0px;">
        <img *ngIf="item?.media_upload?.url" src="{{item?.media_upload?.url}}" class="chatimage" />
        <div *ngIf="item?.media_upload?.url && showdownloadicon && !downloading" class="downloadimg"
          (click)="downloadimage(item?.media_upload?.url)">
          <ion-icon name="download-outline"></ion-icon>
        </div>
        <div *ngIf="downloading" class="downloadimg">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <ion-card-content *ngIf="item.content">
          {{ item.content }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin ion-margin-start">
    <ion-col class="ion-no-padding" size="12">
      <p class="f-pop-m time">{{ item.created_at | date:'short' }}</p>
    </ion-col>
  </ion-row>
</ion-grid>