<ion-card class="ion-no-margin">
  <ion-img [src]="item.image"> </ion-img>

  <ion-card-content class="ion-no-padding">
    <ion-card-title class="f-pop-smb title">{{ item.name }}</ion-card-title>
    <ion-card-subtitle class="f-pop-m detail">{{ item.detail }}</ion-card-subtitle>
    <div>
      <ion-label *ngIf="item.phone">
        <!-- <ion-icon name="call"></ion-icon> -->
        <ion-text class="f-pop-m info"><strong>Phone</strong> {{ item.phone }}</ion-text>
      </ion-label>
    </div>
    <div>
      <ion-label *ngIf="item.email">
        <!-- <ion-icon name="mail"></ion-icon> -->
        <ion-text class="f-pop-m info"><strong>Email</strong> {{ item.email }}</ion-text>
      </ion-label>
    </div>
    <div>
      <ion-label *ngIf="item.address">
        <!-- <ion-icon name="navigate"></ion-icon> -->
        <ion-text class="f-pop-m info"><strong>Address</strong> {{ item.address }}</ion-text>
      </ion-label>
    </div>
  </ion-card-content>
</ion-card>