ion-icon {
  font-size: 9px;
}

ion-card {
  margin-bottom: 15px;
}

.title {
  font-size: 24px;
}

ion-card-content {
  padding: 17px;
}

.detail {
  font-size: 15px;
  color: black;
  margin-top: 4px;
  text-transform: capitalize;
  font-family: 'Poppins';
  font-weight: normal;
  margin-bottom: 10px;
}

.info strong {
  min-width: 53px;
  display: inline-block;
}

.info {
  font-size: 14px;
  color: #333;
}

.margin-l-5 {
  // margin-left: 5px;
}