ion-card {
  border-radius: 8px;
  width: 95%;
  border: 1px solid #fff;
}

ion-img {
  height: 60px;
  width: auto;
}

.custom-padding {
  padding-top: 12px;
  padding-bottom: 12px;
}

// .image-div {
//   background: url("../../../assets/images/Rectangle.png") no-repeat;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 90px;
//   // width: 150%;
// }

.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border-radius: 8px;

  margin-top: 5px;
}
