.title {
  font-size: 20px;
  color: #000;
  margin: 10px 0 5px 0;

  &:first-child {
    margin-top: 0;
  }
}

.link {
  color: #179bff;
  font-size: 14px;
  margin-top: 10px;
}

ion-card-header {
  ion-item {
    --padding-start: 12px;
    --padding-top: 6px;
    /* --background: #f7f7f7; */
    --padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
  }

  p {
    font-size: 18px;
    color: #000;
    font-family: 'PoppinsSemibold';
    margin: 0;
    margin-bottom: -3px;
  }

  span {
    font-size: 12px;
    color: #666;
  }

  ion-label {
    // font-family: poppinsMedium !important;
  }
}

.ingredients ul {
  padding-left: 20px;
  margin-bottom: 0;
}

.cardcontentandrate {
  --padding-start: 12px;
  padding-top: 7px;
}

.recipieimage {
  position: relative;

  .recipebtns {
    position: absolute;
    top: 10px;
    right: 10px;

    ion-button {
      font-size: 13px;
    }
  }
}


ion-card-title {
  font-size: 1.3em;
  font-weight: normal;
  font-family: poppinssemibold;
}

ion-row.cardrating ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 30px;

  ion-icon {
    font-size: 2vh;
    margin-right: 2px;
  }

  p {
    margin: 0;
    font-size: 15px;
  }
}

.raterecipies {
  border-top: 1px solid #ddd;
  margin-top: 15px;

  ion-col {
    padding: 0;
  }

  ion-label {
    font-family: poppinsmedium !important;
    margin-bottom: 3px;
  }
}


.raterecipiesrating {
  ion-col {
    padding: 0;

    ion-icon {
      margin-right: 1px;
    }
  }
}

.card-content-ios {
  padding-bottom: 10px;
}

ul {
  padding-left: 20px;
  margin-bottom: 0;
}


.toberated {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;

  p {
    margin-right: 10px;
  }

  ion-icon {
    font-size: 13px;
    margin-right: 0px;
  }
}

.cardrating {
  display: flex;
  align-items: center;

  ion-icon {
    font-size: 13px;
  }

  p {
    margin: 0;
    font-size: 13px;
    margin-right: 6px;
  }
}