<ion-card class="ios hydrated">
  <ion-card-header class="ion-inherit-color ios hydrated ion-no-padding ion-no-margin">
    <ion-item lines="none">
      <ion-avatar (click)="viewProfile(item.user_id)">
        <img [src]="item.profile_image" />
      </ion-avatar>
      <ion-label class="ion-margin-start">
        {{ item.user.name }}
      </ion-label>
      <ion-icon (click)="openPopup($event)" id="click-trigger" *ngIf="item.user.id != userData.id"
        name="ellipsis-vertical-outline" style="font-size: 14px; margin-left: 100px"></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-item class="cardcontentandrate" lines="none">
    <!-- <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">{{ item.name }}
  </ion-card-subtitle> -->
    <ion-grid>
      <ion-row class="cardcontent">
        <ion-col size="10" class="ion-no-padding ion-no-margin">
          <ion-card-title role="heading" class="ion-inherit-color ios hydrated">{{ item.name }}
          </ion-card-title>
        </ion-col>
        <ion-col size="2" *ngIf="item.created_by_me">
          <ion-button style="margin-top: -8px" color="success" (click)="editRecipe()">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button style="margin-top: -8px" color="danger" (click)="deleteRecipe()">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="cardrating">
        <ion-item lines="none">
          <ion-icon [name]="item.rating + 1 <= n ? 'star-outline' : 'star'"
            [color]="item.rating + 1 <= n ? 'dark' : 'dark'" *ngFor="let n of [1, 2, 3, 4, 5]"></ion-icon>
          <p>({{ item.reviews_count }})</p>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-item>

  <img style="width: 100%" [src]="item.media_upload?.url"
    onerror="this.onerror=null;this.src='/assets/Images/dummy-image-square.jpg';" />
  <ion-card-content class="ios card-content-ios hydrated">
    <h2 class="f-pop-smb title">Ingredients</h2>
    <div [innerHTML]="item.ingredients"></div>
    <h2 class="f-pop-smb title">Directions</h2>
    <!-- <ingredient *ngFor="let _item of item.Directions" [item]="_item"></ingredient> -->
    <div [innerHTML]="item.description"></div>

    <!-- <ion-row *ngIf="item.nutrition_facts">
      <ion-col size="12">
        <h2 class="f-pop-smb title">Nutrition Facts</h2>
        <ingredient *ngFor="let _item of item.nutrition_facts" [item]="_item"></ingredient>
      </ion-col>
    </ion-row> -->

    <ion-row class="raterecipies">
      <ion-col size="12">
        <ion-item style="margin-left: -20px; font-size: 20px" lines="none">
          <ion-label>{{
            item.auth_review ? "Rated Recipe" : "Rate Recipe"
            }}</ion-label> 
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="raterecipiesrating">
      <ion-col>
        <div>
          <ion-icon [name]="rating + 1 <= n ? 'star-outline' : 'star'" [color]="rating + 1 <= n ? 'medium' : 'primary'"
            *ngFor="let n of [1, 2, 3, 4, 5]"  (click)="changeRate(n)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: -10px" *ngIf="!item.auth_review"> 
      <ion-col>
        <ion-button (click)="rateRecipe()" style="width: 100%">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>