<ion-grid class="ion-padding" style="background-color: var(--ion-color-primary)">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <div class="logo"></div>
      <ion-label class="text1" color="light">
        <h2 class="ion-text-center" style="font-size: 14px; margin-top: 50px">
          Finally! An online community dedicated to everyone who loves the
          outdoors!
        </h2>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="logos center">
        <a *ngIf="settings?.facebook" href="{{settings?.facebook}}">
          <div class="social-icon center" style="background-color: #4b69b0">
            <ion-icon name="logo-facebook" color="light"></ion-icon>
          </div>
        </a>
        <a *ngIf="settings?.twitter" href="{{settings?.twitter}}">
          <div class="social-icon center ion-margin-horizontal" style="background-color: #37b1e1">
            <ion-icon name="logo-twitter" color="light"></ion-icon>
          </div>
        </a>
        <a *ngIf="settings?.instagram" href="{{settings?.instagram}}">
          <div class="social-icon center ion-margin-end" style="background-color: #892393">
            <ion-icon name="logo-instagram" color="light"></ion-icon>
          </div>
        </a>
        <a *ngIf="settings?.pinterest" href="{{settings?.pinterest}}">
          <div class="social-icon center" style="background-color: #e83f3a">
            <ion-icon name="logo-pinterest" color="light"></ion-icon>
          </div>
        </a>
      </div>
    </ion-col>
  </ion-row>
  <!-- <ion-item class="transparent-bg horizontal-center ion-margin-top" lines="none"></ion-item> -->

  <!-- <div class="links center ion-margin-top" *ngIf="linksVisible">
    <div>
      <ion-label style="font-size: 25px" color="light">
        QUICK LINKS:
      </ion-label>
      <div class="bottom-line"></div>
      <ion-label
        (click)="navigate(item.link)"
        *ngFor="let item of links"
        class="m-t-5"
        color="light"
      >
        {{ item.name }} <br />
      </ion-label>
    </div>
  </div> -->

  <div class="contact ion-margin-start ion-text-center">
    <ion-label style="font-size: 25px" color="light"> CONTACT US: </ion-label>
    <div class="bottom-line"></div>
    <ion-item *ngIf="settings?.phone" class="transparent-bg ion-no-padding" lines="none">
      <div class="icon center">
        <ion-icon name="call-outline"></ion-icon>
      </div>

      <ion-label class="f-white m-l-10" color="light">
        <a style="color: white; text-decoration: none" href="tel:{{settings?.phone}}">{{settings?.phone}}</a>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="settings?.email" class="transparent-bg ion-no-padding ion-margin-top" lines="none">
      <div class="icon center">
        <ion-icon name="mail-outline"></ion-icon>
      </div>

      <ion-label class="f-white m-l-10" color="light">
        <a style="color: white; text-decoration: none" href="mailto:{{settings?.email}}">{{settings?.email}}</a>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="settings?.location && forpage" class="transparent-bg ion-no-padding" lines="none">
      <div class="icon center">
        <ion-icon name="location-outline"></ion-icon>
      </div>

      <ion-label class="f-white m-l-10" color="light">
        <a style="color: white; text-decoration: none" href="tel:{{settings?.location}}">{{settings?.location}}</a>
      </ion-label>
    </ion-item>
  </div>

  <div class="footer2">
    <p>{{settings?.copyrights}}</p>
  </div>
</ion-grid>