
.heading {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 3rem;
  }
  
  .subheading {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  
  .input {
    --padding-start: 20px;
    font-size: 13px;
    height: 50px;
  }
  
  
  
  .authcontainer {
    padding: 20px 15px;
    max-width: 500px;
    margin: 0 auto;
    // min-height: 60vh;
  }
  