.image {
  // background: url('https://hunterssocial.com/public/assets/images/adventure-1.jpg');
  background: url(/assets/Banners/adventure-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100%;
  // height: 350px;
  // margin-top: -16px;
  // padding-top: 150px;
  // padding-left: 10px;
}

.heading1 {
  // color: #fff;
  // margin-top: -10px;
  // font-family: Anton;
  // font-size: 48px;
  // margin-bottom: 25px;
}