<app-header
  [title]="'TAXIDERMY AND PROCESSING'"
  [showcurve]="false"
></app-header>
<app-taxidermy-banner></app-taxidermy-banner>

<ion-content>
  <h2 class="f-pop-smb ion-margin-start title">TAXIDERMY AND PROCESSING</h2>

  <ion-item class="ion-margin-end">
    <ion-grid>
      <ion-row>
        <ion-col
          size="6"
          *ngFor="let item of list1"
          class="ion-no-padding ion-no-margin"
        >
          <taxidermy-row [item]="item"></taxidermy-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="ion-margin-end" lines="none">
    <ion-grid>
      <ion-row>
        <ion-col
          size="6"
          *ngFor="let item of list2"
          class="ion-no-padding ion-no-margin"
        >
          <taxidermy-row [item]="item"></taxidermy-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
