// ion-img {
//   height: 120px;
//   width: 125px;
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%;
// }

ion-card-title {
  font-size: 15px;
}

ion-card-subtitle {
  font-size: 11px;
}

.date-btn {
  font-size: 7px;
  width: 60%;
  height: 22px;
}

.subtitle {
  font-size: 9px;
}

.title {
  font-size: 1.5vh;
}

.padding {
  padding: 10px;
}
