img {
  margin: 3%;
  width: 40%;
}
.bg {
  background-image: url("../../../../assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 80px;
}
.heading1 {
  text-align: center;
  font-family: poppins;
  color: white;
  font-weight: bold;
}
