<ion-grid class="bg">
  <div style="margin-top: 80px">
    <h2 class="heading1">HUNTING RANCHES IN TEXAS</h2>
  </div>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-1.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-2.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-3.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-4.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-5.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-6.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-7.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-8.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-9.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-10.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-11.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-12.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-13.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-14.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-15.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-16.png"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-17.png"
          />
          <img
            src="https://hunterssocial.com/public/assets/images/ranch-18.png"
          />
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
