.image {
    background: url('/assets/Banners/contact-bann.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 150px;
}

.spinner {
    flex-direction: column;
    height: 300px;

    p {
        margin-bottom: 0;
        font-size: 14px;
        margin-top: 5px;
    }
}

.notifcontent {
    padding: 15px;
}

.notifications {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;

    .notificationitem {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        .acceptbtn {
            margin-right: 5px;
            padding: 7px 13px;
            background: #000;
            color: #fff;
        }

        .ignorebtn {
            margin-right: 5px;
            padding: 5px 13px;
            border: 1px solid #000;
            background: transparent;
            color: #000;
        }

        img {
            width: 45px;
            margin-right: 10px;
            border-radius: 40px;
            height: 45px;
        }

        h5 {
            margin: 0;
            text-transform: capitalize;
        }

        p {
            margin: 0;
            font-size: 14px;
        }

    }

    &:last-child {
        border-bottom: 0;
    }

    span {
        font-size: 11px;
        color: #666;
        margin-top: 0px;
        display: block;
    }
}

.notifications.unread {
    background: #eee;
    position: relative;
    border-left: 3px solid #000;
}