<ion-fab vertical="bottom" [horizontal]="horizontal" slot="fixed">
  <ion-fab-button color="medium" id="fabButton" #fabButton (click)="showChatBar()">
    <ion-icon name="chatbox"></ion-icon>
  </ion-fab-button>
  <!-- <ion-fab-list class="fab-list-width" side="top" [activated]="activated">
    <ion-fab-button (click)="openSocialChatRoom()" color="light" style="border: 2px solid black; border-radius: 50%">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
    <ion-label class="label-social">Friends</ion-label>
    <ion-fab-button (click)="groupChat()" color="light" style="border: 2px solid black; border-radius: 50%">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
    <ion-label class="label-dating">People</ion-label>

    <ion-fab-button (click)="checkUser()" color="light" style="border: 2px solid black; border-radius: 50%">
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
    <ion-label class="group-chat">Groups</ion-label>
  </ion-fab-list> -->
</ion-fab>