<ion-card class="ion-no-padding ion-no-margin">
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin">
      <ion-col size="4" class="image-bg ion-text-center">
        <img
          class="image"
          [src]="item.media_upload?.url"
          onerror="this.onerror=null;this.src='assets/Images/m-shirt.png';"
        />
      </ion-col>
      <ion-col size="8" class="ion-margin-top ion-margin-bottom">
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h2 class="f-pop-smb title">{{ item.name }}</h2>
            <ion-row>
              <ion-col>
                <p class="f-pop-r content">
                  ${{ item.price?.substring(0, 5) }}
                </p>
              </ion-col>
              <ion-col>
                <img src="assets/Images/stars.png" />
              </ion-col>
              <ion-col>
                <!-- <p class="f-pop-r content" style="color: #707070">
                  ({{ item.count }})
                </p> -->
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
