ion-card {
  border-radius: 15px;
  height: 100px;
  margin-top: 10px;
}

.image {
  height: 100px;
}

.content {
  font-size: 14px;
  color: #282828;
}

.title {
  font-size: 14px;
}

.image-bg {
  background-color: #efefef;
}
