<ion-card>
  <p>Post a How to Video</p>
  <div>
    <ion-input type="text" id="title" name="title" placeholder="Enter Title" [(ngModel)]="title">
    </ion-input>
    <input [hidden]="true" style="margin-left: 60px; height: 0px" type="file" id="fileInput" name="fileInput"
      accept="video/mp4,video/x-m4v,video/*" onchange="fileSelected()" #file />
    <ion-button (click)="file.click()">
      <ion-icon name="videocam"></ion-icon>
      {{ item ? "Change" : "Select" }} Video
    </ion-button>
    <ion-button slot="end" size="medium" color="primary" (click)="postData()">{{ item ? "Update Video" : "Post Video" }}
    </ion-button>
    <ion-button slot="end" size="medium" color="danger" (click)="cancel()" *ngIf="item">Cancel</ion-button>
  </div>

  <video *ngIf="video" width="100%" height="100%" preload="none" controls>
    <source [src]="video" type="video/mp4" />
  </video>
</ion-card>