ion-img {
  height: 120px;
}

.title {
  font-size: 15px;
}

.content {
  font-size: 11px;
  margin-bottom: 5px;
}

.green-txt {
  color: #28a745 !important;
  margin: 5px 0px;
}

.red-txt {
  color: tomato !important;
  margin: 5px 0px;
}
