ion-menu {
  --background: var(--ion-color-primary);
}
ion-content {
  --background: var(--ion-color-primary);
}
ion-item {
  --background: var(--ion-color-primary);

  ion-label {
    color: white;
    font-size: 18px;
  }
}

.text-white {
  color: white;
}
