ion-menu {
  --background: var(--ion-color-primary);
  --width: 370px;
}

ion-content {
  --background: var(--ion-color-primary);
}

ion-item {
  --background: var(--ion-color-primary);
  height: 42px;
  border-bottom: 1px solid #333;

  ion-label {
    color: white;
    // font-size: 16px;

    h2 {
      font-size: 15px;
    }
  }
}


.criclebefore {
  border: 5px solid white;
  border-radius: 50%;
  margin-left: 15px;
}

.text-white {
  color: white;
}

@media screen and (max-width: 600px) {
  ion-menu {
    --width: 304px;
  }
}