ion-menu {
  --background: var(--ion-color-primary);
}

ion-content {
  --background: var(--ion-color-primary);
}

ion-item {
  --background: var(--ion-color-primary);

  ion-label {
    color: white;
    font-size: 16px;

    h2 {
      font-size: 16px;
    }
  }
}

.criclebefore {
  border: 5px solid white;
  border-radius: 50%;
  margin-left: 15px;
}

.text-white {
  color: white;
}