<!-- <p>create-adventure works!</p> -->
<div style="margin-top: 15px;">
  <div style="display: flex;">
    <ion-avatar>
      <img class="img-border" [src]="user_image"
        onerror="this.onerror=null;this.src='../../../assets/Images/dummy-avatar.png';" />
    </ion-avatar>
    <div class="textfield">
      <div style="display: flex;">
        <!-- <textarea placeholder="What's on your mind" [(ngModel)]="content" rows="7"></textarea> -->
        <span class="textarea">What's on your mind</span>
        <div style=" display: flex; flex-direction: column; justify-content: space-between; margin: 12px; ">
          <i class="iconsax" icon-name="picture-add" style="font-size: 25px;"></i>
        </div>
      </div>
      <!-- <div style="display: flex;justify-content: space-between;">
        <div style="
        padding: 10px;
        font-size: 14px;
        color: #000;
        color: #fff;
        background: #676767;
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    ">
          <span>Select Image</span>
          <i class="iconsax" icon-name="picture-add" style="font-size: 20px;margin-left: 8px;"></i>
        </div>
        <div style="
        padding: 10px;
        font-size: 14px;
        color: #fff;
        background: #333;
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    ">
          <span>Post</span>
          <i class="iconsax" icon-name="send-1" style="font-size: 20px;margin-left: 8px;"></i>
        </div>
      </div> -->

    </div>
  </div>
  <!-- <div>
    <ion-button>
      <ion-label>Post</ion-label>
      <i class="iconsax" icon-name="send-1" style="font-size: 20px;margin-left: 5px;"></i>
    </ion-button>
  </div> -->
</div>