<div class="bg-dark" lines="none">
  <app-profile-banner [isSelf]="isOwnProfile"></app-profile-banner>
  <ion-row class="top-row">
    <ion-col size="3" class="pcolleft">
      <ion-badge class="online" [color]="
          user_profile?.is_user_logged_in === 1 || isOwnProfile
            ? 'success'
            : 'danger'
        ">1
      </ion-badge>
      <ion-avatar>
        <img [src]="user_image ? user_image : '../../../assets/Images/dummy-avatar.png'" />
      </ion-avatar>
    </ion-col>
    <ion-col class="pcolright">
      <ion-label class="ion-margin-start">
        <div>
          <h2 style="text-transform: capitalize;">
            {{ user_profile?.name }}
          </h2>
        </div>
      </ion-label>
    </ion-col>
  </ion-row>
</div>

<div class="bg-light">
  <ion-row class="ion-no-padding">
    <ion-col class="actionbtns" size="12">
      <!-- <ion-button *ngIf="isOwnProfile" (click)="itemClicked({ url: 'pages/edit-profile' })">
        Edit Profile
      </ion-button> -->
      <!-- <ion-button *ngIf="!isOwnProfile" color="danger" (click)="blockUser()">
        Block User
      </ion-button> -->
      <ion-button *ngIf="!isOwnProfile" (click)="openreport()">
        Report User
      </ion-button>
      <!-- <ion-button *ngIf="isOwnProfile" color="danger" (click)="deleteAccount(item)">
        Delete Account
      </ion-button> -->
      <!-- <ion-button *ngIf="isOwnProfile" (click)="itemClicked({ url: 'pages/blocked-users' })">
        Blocked Users
      </ion-button> -->

      <!-- <ion-button
        *ngIf="isOwnProfile"
        (click)="itemClicked({ url: 'pages/my-orders' })"
      >
        My Orders
      </ion-button> -->
    </ion-col>
    <ion-col size="12">
      <ion-row class="ion-no-padding">
        <ion-col size="6">
          <p class="count">
            <span>
              {{ posts_count }}
            </span>
            <br />
            Posts
          </p>
        </ion-col>
        <ion-col size="6">
          <p class="count">
            <span>
              {{ connections_count }}
            </span>
            <br />
            Connections
          </p>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
</div>

<div class="profileinfo">
  <ion-row class="ion-margin-start mb-0">
    <ion-col size="12" *ngIf="isOwnProfile">
      <h2>About Me</h2>
      <p class="about-me"> {{ user_profile?.profile_detail.brief_yourself }} </p>
    </ion-col>

    <ion-col size="12">
      <h2>Interests</h2>
      <p class="interests">
        <span *ngFor="let item of user_profile?.user_interests">
          {{ item.title }}
        </span>
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-start">
    <ion-col size="6">
      <h2>State</h2>
      <p class="about-me">
        {{ state }}
      </p>
    </ion-col>

    <ion-col size="6">
      <h2>City</h2>
      <p class="interests">
        {{ city }}
      </p>
    </ion-col>
  </ion-row>
</div>

<div class="posts-div">
  <ion-row style="padding: 18px">
    <ion-col size="12" *ngFor="let item of posts" class="ion-no-padding">
      <adventure-item [item]="item"></adventure-item>
    </ion-col>
  </ion-row>
</div>