ion-card-title {
    font-family: 'PoppinsSemiBold';
    font-weight: normal;
}

.subtitle-box {
    font-size: 0.8rem;
    font-weight: 700;

    .stock-box {
        color: green;
    }
}

ion-img {
    height: 240px;
    object-fit: contain;
}

.description {
    margin: 20px 0px;
}

.review-heading {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.3rem;
}
.addMargin{
    margin-left: 3px;
}