<app-header [title]="'Product Detail'" [showcurve]="false" [back]="true" [showMenu]="false" [showCart]="true">
</app-header>

<ion-content *ngIf="product_detail">
  <ion-card class="bg">
    <ion-img
      [src]="product_detail.media_upload.url ? product_detail.media_upload.url : Config.URL+'public/assets/images/shirt1.png'">
    </ion-img>

    <ion-card-header class="ion-padding">
      <ion-card-title> {{product_detail.name}} </ion-card-title>

      <ion-card-subtitle>
        <ion-item class="subtitle-box ion-no-padding" lines="none">
          <ion-text slot="start"> Price: {{product_detail.price | number}} </ion-text>
          <ion-text class="stock-box ion-text-center" slot="end">
            {{product_detail.in_stock ? 'In Stock' : 'Out Of Stock'}}

            <ion-icon *ngIf="product_detail.in_stock" name="checkmark-outline"></ion-icon>
          </ion-text>
        </ion-item>
      </ion-card-subtitle>

      <ion-card-content class="ion-no-padding">

        <!-- <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding"> -->
        <!-- <ion-row class="ion-no-padding">
              <ion-col size="4" class="ion-no-padding">
                <ion-button (click)="add()" size="small" class="ion-margin-top">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4" class="ion-no-padding ion-text-center">
                <ion-button size="small" class="ion-margin-top addMargin">
                  {{quantity}}
                </ion-button>
              </ion-col>
              <ion-col size="4" class="ion-no-padding">
                <ion-button (click)="sub()" size="small" class="ion-margin-top">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row> -->

        <!-- </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-button (click)="addToCart()"> Add To Cart </ion-button>
          </ion-col>
        </ion-row> -->
        <ion-grid>
          <ion-row class="addMargin">
            <ion-col size="4" class="ion-no-padding">
              <ion-card>
                <ion-button (click)="add()" expand="block" fill="clear">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-card>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-card>
                <ion-button expand="block" fill="clear">
                  {{quantity}}
                </ion-button>
              </ion-card>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-card>
                <ion-button (click)="sub()" expand="block" fill="clear">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="addToCart()" expand="block" class="ion-margin-auto"> Add To Cart </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-text>
          <p class="description">
            {{product_detail.description}}
          </p>
        </ion-text>


        <div class="review-div">




        </div>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-list>

      <ion-item (click)="openAddReview()">
        <ion-label>
          <h2>Reviews ({{ reviews?.length }})</h2>
        </ion-label>

        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-item>

      <ion-item *ngFor="let item of reviews" lines="none">
        <ion-label class="ion-text-wrap">
          <p>

            <ion-icon [name]="item.rating <= n ? 'star-outline' : 'star'" [color]="item.rating <= n ? 'white' : ''"
              *ngFor="let n of [1,2,3,4,5]" style="margin-right: 5px;"></ion-icon>

          </p>
          <h2>
            {{item.user.name}}

          </h2>

          <p>
            {{item.comment}}
          </p>
        </ion-label>


      </ion-item>
    </ion-list>

  </ion-card>


</ion-content>
