.image {
  background: url('https://hunterssocial.com/public/assets/images/chat-room-bannr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  margin-top: -20px;
}
.heading1{
  color: #fff;
  padding-top: 110px;
  padding-left: 15px;
  font-size: 48px;
  font-family: Anton;
}
.text{
  color: #fff;
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 0.85rem;
  font-family: poppins;
  line-height: 25px;
}
