.text1 {
  font-family: 'PoppinsSemiBold';
  font-size: 27px;
  text-align: center;
  margin-top: 0 !important;
  padding: 30px 20px;
}

.title {
  font-size: 17px;
}

.bg {
  background-image: url("/assets/images/hunting-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 26px;
}