.text1{
  font-family: poppins;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  margin-top: 100px;
  margin-bottom: 50px;
}
.title {
  font-size: 17px;
}
.bg{
  background-image: url("/assets/images/hunting-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 80px;
}