<app-header [title]="'Hunters Social'" [showcurve]="false" [back]="false" [showMenu]="true"></app-header>

<ion-content class="ion-no-padding">
  <app-marketplace-banner></app-marketplace-banner>
  <app-marketplace-row></app-marketplace-row>
  <!-- <app-marketplace-row [item]="item" (click)="openStore(item.id)"></app-marketplace-row> -->

  <!--
  <ion-grid class="bg ion-no-padding ion-no-margin">
  <ion-row class="ion-padding ion-no-margin">
    <ion-col size="12" *ngFor="let item of stores" class="ion-no-padding ion-no-margin">
    </ion-col>
  </ion-row>
</ion-grid> -->
<footer></footer>
</ion-content>
