.privacycontent {
  padding: 0px 12px 20px 12px;

  h3 {
      font-size: 20px;
  }

  p {
      font-size: 14px;
      margin: 0px 0 10px 0;
  }

  ul {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 18px;

      li p {
          margin: 0;
          font-size: 14px;
      }
  }

  ul.infolist {
      padding-left: 20px;
      font-size: 14px;

      li {
          margin-bottom: 2px;

          span {
              font-family: 'PoppinsSemiBold';
          }
      }
  }
}