<ion-header style="background-color: black">
  <ion-toolbar color="gray">
    <ion-avatar class="center ion-margin-top">
      <!-- <div class="menu-image"></div> -->
      <img src="./../../../assets/Images/ov-logo.svg" />
    </ion-avatar>
    <!-- <ion-item lines="none" style="background-color: black">
      <ion-label class="ion-text-center bg-dark text-white">
        <h2 class="f-pop-m title">{{ user.name }}</h2>
        <h3 class="f-pop-r">{{ user.email }}</h3>
      </ion-label>
    </ion-item> -->
  </ion-toolbar>
</ion-header>