<!-- <ion-header>
  <ion-toolbar>
    <ion-title>my-orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<app-header [title]="'My Orders'"></app-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>blocked-users</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <div class="image">
    <div class="content">
      <h1 class="heading1">My Orders</h1>
    </div>
  </div> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of orders">
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <div><strong>Order ID</strong>{{item?.id}}</div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <div><strong>Date</strong>{{item?.created_at | date:"MMM dd, yyyy"}}</div> <!-- 'at' HH:mm -->
              <div style="text-align: right;"><strong>Status</strong>{{item?.order_status?.name}}</div>
            </div>
            <!-- <div><strong>Payment Option</strong>{{item?.payment_option}}</div> -->

            <div><strong>Products</strong>
              <div class=" products" *ngFor="let product of item.products">
                <img [src]="product?.image"
                  onerror="this.onerror=null;this.src='./../../../assets/Images/dummy-image-square.jpg';" />
                <div style=" width: 100%; ">
                  <span style="font-size: 18px; font-family: 'PoppinsSemiBold';">{{product?.product?.name}}</span>
                  <span style="text-align: right; font-size: 16px; font-family: poppinsmedium; ">${{product?.price |
                    number: '1.2-2'}}</span><br>
                  <span>Tax Amount</span><span style="text-align: right;">$ {{product?.tax_amount | number:
                    '1.2-2'}}</span><br>
                  <span>Quantity</span><span style="text-align: right;">{{product?.qty | number: '1.1-2'}}</span>
                </div>
              </div>
            </div>
            <!-- <div><strong>Customer</strong>{{item?.customer?.first_name}} {{item?.customer?.last_name}} </div> -->
            <div style="text-align: right;border-top: 1px solid #f1f1f1;padding-top: 10px;margin-bottom: 0;">
              <strong style="text-align: right;margin-left: auto;display: inline-block;margin-right: 20px;">Total
                Amount</strong>
              <span style=" font-size: 23px; font-family: 'PoppinsSemiBold'; color: #000; ">${{item?.amount_total |
                number: '1.2-2'}}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <div *ngIf=" orders?.length==0 && !loading"
        style="text-align: center; display: flex; align-items: center; justify-content: center; width: 100%; text-transform: uppercase">
        <p>No Item Found</p>
      </div>
    </ion-row>
  </ion-grid>
  <div class="spinners" *ngIf="loading">
    <ion-spinner name="lines" color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>
</ion-content>