<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon class="back-icon" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [class.titlepadding]="isIOS">
      <ion-label class="title f-anton">Post Your Adventure</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <textarea placeholder="Share a Memory?" [(ngModel)]="content" rows="7"></textarea>

    <div>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>

            <input [hidden]="true" style="margin-left: 60px; height: 0px" type="file" id="fileInput" name="fileInput"
              accept="video/mp4,video/x-m4v,video/*,image/png,image/jpg,image/*" onchange="fileSelected()" #file />
            <ion-button size="large" (click)="file.click()" class="postpagebtn">
              <ion-icon name="images-outline"></ion-icon><span>Photo/Video</span>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" style="width: 100%" class="postpagebtn postbtn" (click)="post()">Post<ion-icon
                name="paper-plane-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="spinner" *ngIf="loadingimage">
        <ion-spinner name="lines" color="primary"></ion-spinner>
        <p>Loading...</p>
      </div>
      <!-- <div style="margin-left: 18px">
        <a class="m-pointer" type="file"
          ><ion-icon name="images-outline"></ion-icon
          ><span style="margin-left: 10px">Photo/Video</span></a
        >
        <ion-button size="large" color="light">Post</ion-button>
      </div> -->
    </div>
    <div class="preview" *ngIf="post_image">
      <ion-button class="close" color="danger" (click)="removeMedia()"><ion-icon
          name="close-outline"></ion-icon></ion-button>
      <img *ngIf="!isVideo" [src]="post_image" />
      <video *ngIf="isVideo" width="320" height="240" preload="none" controls>
        <source [src]="post_image" type="video/mp4" />
      </video>
    </div>
  </div>
</ion-content>