<ion-header>
  <ion-toolbar style="--background: #f7f7f7;">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <!-- <ion-icon class="back-icon" name="close-circle"></ion-icon> -->
        <i class="iconsax" icon-name="x-circle" style="font-size: 22px;"></i>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" [class.titlepadding]="isIOS">
      <ion-label class="title f-anton">Post Your Adventure</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="uploadphoto" (click)="file.click()" *ngIf="!post_image">
      <i class="iconsax" icon-name="picture-add" style="font-size: 30px;"></i>
      <h5>Upload Your Photo</h5>
      <p>Just tap here to browse your gallery to upload photo</p>
    </div>

    <div class="preview" *ngIf="post_image">
      <ion-button class="close" color="danger" (click)="removeMedia()"><ion-icon
          name="close-outline"></ion-icon></ion-button>
      <img *ngIf="!isVideo" [src]="post_image" />
      <video *ngIf="isVideo" width="320" [poster]="posterimage" height="240" preload="none" controls>
        <source [src]="post_image" type="video/mp4" />
      </video>
    </div>

    <div class="textcontent">
      <p>Share your memory</p>
      <textarea placeholder="What's on your mind?" [(ngModel)]="content" rows="3"></textarea>
    </div>
    <!-- <textarea placeholder="Share a Memory?" [(ngModel)]="content" rows="7"></textarea> -->
    <input [hidden]="true" style="margin-left: 60px; height: 0px" type="file" id="fileInput" name="fileInput"
    accept="video/mp4,video/x-m4v,video/*,image/png,image/jpg,image/*" onchange="fileSelected()" #file />
    <div>
      <ion-grid class="ion-no-padding">
        
            <!-- <ion-button size="large" (click)="file.click()" class="postpagebtn">
              <ion-icon name="images-outline"></ion-icon><span>Photo/Video</span>
            </ion-button> -->
        <ion-row>
          <ion-col>
            <ion-button size="large" style="width: 100%" class="postpagebtn postbtn" (click)="post()">Post Adventure<ion-icon
                name="paper-plane-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="spinner" *ngIf="loadingimage">
        <ion-spinner name="lines" color="primary"></ion-spinner>
        <p>Loading...</p>
      </div>
      <!-- <div style="margin-left: 18px">
        <a class="m-pointer" type="file"
          ><ion-icon name="images-outline"></ion-icon
          ><span style="margin-left: 10px">Photo/Video</span></a
        >
        <ion-button size="large" color="light">Post</ion-button>
      </div> -->
    </div>

  </div>
</ion-content>