.image {
  // background: url('https://hunterssocial.com/public/assets/images/tie-bann.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 100%;
  // height: 350px;
  // margin-top: -20px;
  background: url(/assets/Banners/tie-bann.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0 0 0 / 40%);
    z-index: 0;
    left: 0;
    top: 0;
  }
}


.heading1 {
  color: #fff;
  font-family: Anton;
  font-size: 50px;
  margin: 0;
  line-height: 1;
}

.content {
  z-index: 1;
  position: relative;
}


// .heading1 {
//   color: #fff;
//   margin-top: px;
//   font-family: Anton;
//   font-size: 48px;
//   margin-bottom: 25px;
//   padding-top: 153px;
//   padding-left: 15px;
// }