.image {
  background: url(/assets/Banners/book-hunt-bann.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  // width: 100%;
  // height: 350px;
  // margin-top: 10px;
}

.banner.image {
  height: 310px;
}

.heading1 {
  // color: #fff;
  // margin-top: -10px;
  // font-family: Anton;
  // font-size: 48px;
  // margin-bottom: 15px;
  // padding-top: 70px;
  // padding-left: 15px;
}

.text1 {
  color: #fff;
  margin-bottom: 0px;
  font-size: 0.9rem;
  font-family: poppins;
  // padding-left: 15px;
  line-height: 22px;
  // text-align: left;
}