.image {
  background: url('https://hunterssocial.com/public/assets/images/book-hunt-bann.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  margin-top: 10px;
}
.heading1{
  color: #fff;
  margin-top: -10px;
  font-family: Anton;
  font-size: 48px;
  margin-bottom: 15px;
  padding-top: 70px;
  padding-left: 15px;
}
.text1{
  color: #fff;
  margin-bottom: -10px;
  font-size: 0.85rem;
  font-family: poppins;
  padding-left: 15px;
  line-height: 25px;
  text-align: left;
}
