<ion-list>
  <ion-item (click)="action('Facebook')">
    <ion-label>
      <ion-icon name="logo-facebook" class="ion-margin-end"></ion-icon>
      <ion-text>Facebook</ion-text>
    </ion-label>

  </ion-item>

  <ion-item (click)="action('Twitter')">
    <ion-label>
      <ion-icon name="logo-twitter" class="ion-margin-end"></ion-icon>
      <ion-text>Twitter</ion-text>
    </ion-label>

  </ion-item>

  <ion-item (click)="action('Linkedin')">
    <ion-label>
      <ion-icon name="logo-linkedin" class="ion-margin-end"></ion-icon>
      <ion-text>Linkedin</ion-text>
    </ion-label>
  </ion-item>
</ion-list>