.select {
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

.padd {
  padding-top: 5%;
}

.p-holder {
  font-size: 1.8vh;
  color: gray;
  margin-left: 5%;
  margin-top: 5%;
  font-weight: bold;
}

.button {
  // margin-left: 5%;
  margin-right: 5%;
}
