<ion-grid class="bg">
  <ion-row>
    <ion-col size="12" class="container">
      <ion-label>
        <h2 class="heading1">{{ data?.title }}</h2>
        <!-- <img [src]="data?.images[0]" /> -->
        <h2 class="heading2">{{ data?.subtitle }}</h2>
        <p class="text">{{ data?.description }}</p>
        <ion-button color="light" class="btn2" (click)="navigate('post2')">TAKE A SHOT !</ion-button>
        
        <!-- <img [src]="data?.images[2]" />
        <img [src]="data?.images[3]" />
        <img [src]="data?.images[4]" />
        <img class="img1" [src]="data?.images[5]" /> -->
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" *ngFor="let item of data.images">
      <img [src]="item" class="image" />
    </ion-col>
  </ion-row>
</ion-grid>