.bg {
  background-image: url("../../../../assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 45px 15px;
}

.image {
  width: 100%;
  height: calc((100vw / 2) - 38px);
  object-fit: cover;
}

.heading1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}
.heading2 {
  color: white;
  font-size: 25px;
}
.text {
  color: white;
  // word-spacing: 4px;
  // line-height: 24px;
  font-size: 15px;
}
.btn2 {
  color: black;
  // width: 130px;
  // height: 45px;
  // font-size: 15px;
  // margin: 15px 0;
  // font-family: poppinsSemiBold;
  padding: 0;
  font-size: 14px;
  font-family: poppinssemibold;
  margin: 12px 0 22px 0;
}
.img1 {
  margin-bottom: 100px;
}

.newbrandtext {
  color: #fff;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px !important;
  margin-top: 13px;
  line-height: 1.3;
}