.content{
  margin-top: 100px;
  font-family: poppins;
}
.heading1{
  font-size: 20px;
}
.heading2{
  font-size: 33px;
}
.text{
  margin-top: 30px;
  font-size: 1rem;
  word-spacing: 4px;
  line-height: 30px;
  text-align: left;
}
.btn11{
    // background-color: black;
    color: white;
    padding: 20px;
}
.img{
  width: 373px;
  margin-top: 30px;
  margin-bottom: 60px;
}
