<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-label class="ion-text-center">
        <h2 class="f-anton">{{ data?.subtitle }}</h2>
        <h2 style="font-size: 3vh; font-weight: bold;">{{ data?.title }}</h2>
      </ion-label>

      <ion-slides pager="false" [options]="slideOpts">

        <ion-slide *ngFor="let item of data.reviews">
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-no-padding">
                <ion-card class="content">
                  <ion-card-content>
                    <!-- <p>&#xf10d;</p> -->
                    <!-- <img [src]="data?.images[0]" /> -->
                    <ion-icon style="font-size: 15px;" *ngFor="let n of [1, 2, 3, 4, 5]" slot="end"
                      [name]="(item?.rating +1)  <= n ? 'star-outline' : 'star'"
                      [color]="(item?.rating +1) <= n ? 'tertiary' : 'dark'">
                    </ion-icon>
                    <p>{{ item?.review }}</p>

                  </ion-card-content>
                </ion-card>

                <ion-icon name="star" color="dark" class="double-quote"> </ion-icon>
              </ion-col>

              <ion-item lines="none">
                <ion-avatar class="ion-margin-end" style="width: 50px; height: 50px;">
                  <img [src]="item.image" />
                </ion-avatar>
                <h2>{{ item?.name }}</h2>
              </ion-item>
            </ion-row>
          </ion-grid>

        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>