<app-header [title]="'Hunters Social'" color="invert" [showcurve]="false" [back]="false" [showMenu]="true"></app-header>

<ion-content style="--padding-start: 15px; --padding-end: 15px;" class="ion-no-padding"> <!--  -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">

    <ion-row>
      <ion-col>
        <app-stories-avatar-slider></app-stories-avatar-slider>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-create-adventure (click)="create()"></app-create-adventure>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!loading">
      <ion-col size="12" *ngFor="let item of items |filter:search;let i = index" class="ion-no-padding">
        <adventure-item [item]="item"></adventure-item>
        <app-people-you-may-know *ngIf="i == 0"></app-people-you-may-know>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="spinner" *ngIf="loading && !refresh">
    <ion-spinner name="lines" color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>

  <div *ngIf="!loading && !refresh && items && items.length == 0" class="spinner">
    <p>No data found</p>
  </div>
  
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
<!-- <app-disclaimer></app-disclaimer> -->


<!-- <chat-floating-button></chat-floating-button> -->