.image{
  background-image: url('https://hunterssocial.com/public/assets/images/outfitter-ban.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  margin-top: -20px;
}
.heading2{
  padding-top: 150px;
  padding-left: 15px;
  color: white;
  font-size: 50px;
  font-family: 'Anton';
}
