<app-header [title]="'Hunters Social'" [showcurve]="false" [back]="false" [showMenu]="true"
  (searchTextChange)="onSearchTextChange($event)"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content [color]="light"></ion-refresher-content>
  </ion-refresher>
  <app-how-to-banner></app-how-to-banner>
  <!-- <h2>How To Videos</h2> -->

  <app-card-submission></app-card-submission>

  <app-how-to-cards *ngFor="let item of list | customFilter: search_text" [item]="item"></app-how-to-cards>

  <div class="spinner" *ngIf="loading">
    <ion-spinner name="lines" color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>


  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <footer></footer>
</ion-content>

<chat-floating-button></chat-floating-button>