<app-header [title]="'Packages'" [showcurve]="false" [showMenu]="false" [showSearch]="false" [showCart]="false"
  [profileVisible]="false" [back]="shouldRedirect"></app-header>

<ion-content>
  <!-- [ngStyle]="{'color': style.colorVal ? style.colorVal : '#ffd700',}" -->
  <h3>Your Selected Package</h3>
  <ion-card *ngFor="let p of products" detail="false" [class.abc-6786]="package_id == 2"
    [class.abc-6756]="package_id == 3" style="
      overflow: scroll;
      flex-direction: column-reverse;
    ">
    <ion-card-header>
      <div>
        <ion-card-title> {{ p?.title }} </ion-card-title>
        <p>{{ p?.description }}</p>
      </div>
      <ion-img src="./../../../assets/Images/ov-logo.png"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <p>Subscription will not charge for 6 months after which you have to pay</p>
      <ion-button slot="end" (click)="purchase(p)">
        {{ p?.price }} {{ p?.currency }}
      </ion-button>
      <div>
        <!-- <h2>Free Mambership Plan</h2>
        <ion-text>
          <ion-icon name="checkmark-circle"></ion-icon>
          The users will be able to get the Free membership plan without any
          payments and will have limited access. The pages that a user will be
          able to access through the Free membership are Home, Chatroom, Store &
          Profile</ion-text
        > -->
        <h2>Access for all pages</h2>
        <ion-text *ngIf="package_id == 2">
          <ion-icon name="checkmark-circle"></ion-icon>
          For the members with Gold membership they need to pay the membership
          fee of {{ p?.price }} {{ p?.currency }}/monthly and will be able to access all the features of the
          app except the Dating Feature.
        </ion-text>
        <!-- <h2 style=" margin-top: 15px;">Free Mambership Plan</h2> -->
        <ion-text *ngIf="package_id == 3">
          <ion-icon name="checkmark-circle"></ion-icon>
          For the members with Platinum membership they need to pay the
          membership fee of {{ p?.price }} {{ p?.currency }}/monthly and will be able to access all the
          features and pages of the app.
        </ion-text> 
        <h2>Membership Lavel</h2>
        <ion-text>
          <ion-icon name="checkmark-circle"></ion-icon>
          The users will be able to view their membership level within their
          profile and be able to cancel their membership as well.
        </ion-text>
      </div>
      <br />
    </ion-card-content>
  </ion-card>
  <!-- 
  <div
    style="
      display: flex;
      justify-content: space-evenly;
      align-items: end;
      width: 100%;
      /* margin-top: 21vh */
    "
  >
    <p style="font-size: 12px; color: rgb(59, 59, 59)" (click)="gotoTerms()">
      Terms & Services
    </p>
    <p style="font-size: 12px; color: rgb(59, 59, 59)" (click)="gotoPrivacy()">
      Privacy Policy
    </p>
  </div> -->

  <!-- <ion-list>
    <ion-item
      button
      *ngFor="let p of products"
      (click)="purchase(p)"
      detail="false"
    >
      <ion-label class="ion-text-wrap">
        {{ p?.title }}
        <p>{{ p?.description }}</p>
      </ion-label>
      <ion-button slot="end"> {{ p?.price }} {{ p?.currency }} </ion-button>
    </ion-item>
  </ion-list> -->
</ion-content>