<app-header [title]="'About Us'"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label class="ion-text-wrap">
            <h2 class="f-pop-smb title">ABOUT COMPANY</h2>
            <p class="f-pop-r ion-margin-top">
              Finally! An online community dedicated to everyone who loves the
              outdoors! Complete with directories of destinations where an
              individual or a family can experience what it’s like to hunt,
              fish, and enjoy the outdoors like never before. <br />
              <br />
              Get one stop convenience when searching for things like: <br />
              <br />
              Directories for Game Ranches and Professional Guides, state by
              state.
              <br />
              <br />
              Directories for Taxidermist’s and Game Processors, state by state!
              <br />
              <br />
              Recipes to cook your catch, or post your own! <br />
              <br />
              Links to hunting and fishing regulations state by state <br />
              <br />
              A dating page where you can find that like minded soul mate!
              <br />
              <br />
              The latest equipment reviews on guns, archery, fishing and camping
              equipment! <br />
              <br />
              Or post your own reviews on equipment you have already purchased!
              <br />
              <br />
              And much more! <br />
              <br />
              Feel free to look around the website, but to get full access and
              the benefits that all of our members enjoy ya gotta,Take a Shot!
              <br />
              <br />
              Click on the Logo and become a member today, and enjoy your first
              month on us!
            </p>
          </ion-label>
        </ion-item>

        <ion-button class="f-pop-smb ion-margin-top" expand="block">​TAKE A SHOT!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<!-- <app-search></app-search> -->

<chat-floating-button></chat-floating-button>