<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/images/home.svg"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="locator">
      <ion-icon src="assets/images/locator.svg"></ion-icon>
    </ion-tab-button> -->
    <!-- <ion-tab-button tab="chat-room">
      <ion-icon src="assets/images/chats.svg"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="equipment-reviews">
      <ion-icon src="assets/images/reviews.svg"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="store">
      <ion-icon src="assets/images/store.svg"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
