<div class="notificationitem" (click)="clickItem(item)">
  <img [src]="item?.profile_image" onerror="this.onerror=null;this.src='/assets/Images/dummy-avatar.png';" />
  <div>
    <p>{{item.content}}</p>
    <span>{{item.created_at | date:"MMM dd, yyyy 'at' hh:mm a"}}</span>
    <div style="display: flex; align-items: centers;margin-top: 4px;"
      *ngIf="item?.is_friend_request">
      <button class="acceptbtn" (click)="acceptRequest(item?.user?.id, item.id )">Accept</button>
      <button class="ignorebtn" (click)="ignoreRequest(item?.user?.id, item.id)">Ignore</button>
    </div>
  </div>
</div>