<!-- <ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-img class="list-image" [src]="item.image"></ion-img>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-label>
          <h2 class="f-pop-smb">State’s Directory Regarding</h2>
          <p>Lorem Ipsum</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="block" color="primary" size="small"
        >VIEW DETAILS</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid> -->

<ion-img class="list-image" [src]="item.image"></ion-img>
<ion-item lines="none" class="ion-no-padding padding-left">
  <ion-label class="ion-text-wrap ion-no-padding ion-no-margin ion-margin-end">
    <h2 class="f-pop-smb title">{{ item.title }}</h2>
    <p class="f-pop-r content">{{ item.description }}</p>
  </ion-label>
</ion-item>

<ion-button
  shape="round"
  color="primary"
  size="small"
  expand="block"
  class="f-pop-smb detail-btn padding-left"
  >VIEW DETAILS</ion-button
>
