<ion-card style="margin-top: 30px; border: 1px solid gray" class="ion-no-padding">
  <ion-card-content class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding">
          <ion-avatar (click)="viewProfile(item.user_id)" class="ion-margin-start">
            <img style="border-radius: 50%" [src]="item.user.profile_image" />
          </ion-avatar>
          <h1 (click)="viewProfile(item.user_id)" style="color: black; margin-left: 15px">
            <b>{{ item.user?.name }}</b>
          </h1>
          <ion-buttons *ngIf="item.selfPost" slot="end">
            <ion-button style="margin-right: -5px" color="secondary" (click)="editVideo()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteVideo()" style="margin-right: -15px" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h1 style="color: black">{{ item.title }}</h1>
        <video width="100%" height="100%" controls>
          <source [src]="item.media_upload.url" type="video/mp4" />
        </video>
        <div style="border-bottom: 1px solid gray"></div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding">
          <ion-avatar>
            <img style="border-radius: 50%" [src]="profile_image" />
          </ion-avatar>
          <ion-input style="
              background-color: white;
              border-color: gray;
              border-radius: 5px;
              width: 80%;
              margin-left: 10px;
            " class="input-field margin-left" [(ngModel)]="comment" type="text" placeholder="Leave Your Comment..."
            name="Comment">
          </ion-input>
          <ion-icon style="margin-top: -3px; margin-left: 5px; font-size: 25px" name="send-sharp"
            (click)="addComment()"></ion-icon>
        </ion-item>
        <div style="border-bottom: 1px solid gray; margin-top: 15px"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" *ngFor="let item of comments">
        <ion-item lines="none">
          <ion-avatar>
            <img [src]="item.user.profile_image" />
          </ion-avatar>

          <p style="margin-left: 20px; color: gray">{{ item.comment }}</p>

          <div *ngIf="item.selfComment" slot="end" style="background-color: red; border-radius: 5px; padding: 3px"
            (click)="deleteComment(item)">
            <ion-icon color="light" name="trash-outline"></ion-icon>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>