.heading1 {
  font-family: poppinsbold;
  margin: 0;
  text-align: center;
  font-size: 32px;
}

.top-heading {
  padding: 30px 15px;
}

.text1 {
  font-family: poppins;
  text-align: center;
  margin-top: 0px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin: 0;
}

ion-card-title {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: normal;
  font-family: 'PoppinsSemiBold';
}

ion-card-subtitle {
  font-weight: normal;
  font-size: 15px;

  strong {
    color: #000;
  }
}

ion-card-content {
  min-height: 200px;
}

.address {
  font-size: 16px;
  margin-bottom: 5px;
}

ion-col {
  padding: 0;
}

ion-card {
  margin-bottom: 0;
}

.website {
  color: #000;
}

@media screen and (max-width: 500px) {
  .heading1 {
    font-size: 26px;
  }

  .address {
    font-size: 14px;
  }

  ion-card-subtitle {
    font-size: 13px;
  }

  ion-card-content {
    min-height: auto;
  }
}