<app-header [title]="'User Profile'"></app-header>

<ion-content>
  <!-- <app-edit-banner></app-edit-banner> -->
  <ion-grid class="header-jumbotron">
    <ion-card style="border-radius: 10px; margin-top: 0px" class="ion-text-center light-bg ion-padding-top top-item"
      lines="none">
      <!-- <ion-card-header style="border-bottom: 2px solid lightgray">
        <ion-card-title>Profile Picture</ion-card-title>
      </ion-card-header> -->
      <ion-avatar class="avatarimage">
        <img style="border: 2px solid black" [src]="user?.profile_image"
          onerror="this.onerror=null;this.src='../../../assets/Images/dummy-avatar.png';" />
      </ion-avatar>
      <ion-button (click)="doGetPicture()" class="uploadimagebtn">Upload New Image </ion-button>
    </ion-card>
  </ion-grid>

  <ion-segment value="profile" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="profile">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-segment-button>
    <ion-segment-button value="membership" *ngIf="is_lifetime_access == 0">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Membership</ion-label>
    </ion-segment-button>
    <ion-segment-button value="password">
      <ion-icon name="lock-open-outline"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngIf="view_type === 1">
    <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
      <ion-label class="ion-margin-start">
        <h2 class="f-pop-smb header">Profile Details</h2>
      </ion-label>

      <!-- <ion-img class="icon-bg" src="assets/images/edit-ic.png"></ion-img> -->
    </ion-item>

    <ion-label>Name</ion-label>
    <ion-item class="margin-ver" lines="none">
      <ion-input [(ngModel)]="user.name" class="ion-margin-start">
      </ion-input>
    </ion-item>

    <ion-label>Phone Number</ion-label>
    <ion-item class="margin-ver" lines="none">
      <ion-input [(ngModel)]="user.phone" class="ion-margin-start" placeholder="Phone Number">
      </ion-input>
    </ion-item>

    <ion-label>Email Address</ion-label>
    <ion-item class="margin-ver" lines="none">
      <ion-input [(ngModel)]="user.email" [disabled]="true" class="ion-margin-start">
      </ion-input>
    </ion-item>


    <div *ngIf="user?.profile_detail?.is_dating_profile">


      <ion-item class="margin-ver ion-no-padding">
        <ion-icon name="calendar"></ion-icon>
        <!-- <ion-img class="ion-margin-start" src="assets/images/calendar-outline.png"></ion-img> -->
        <ion-datetime [value]="this.dob" (ionChange)="dateTimeUpdated($event)" [displayFormat]="'YYYY-MM-DD'"
          class="ion-margin-start f-pop-m" placeholder="Date of Birth">
        </ion-datetime>
      </ion-item>

      <ion-label>Interests</ion-label>
      <ion-item *ngIf="user?.profile_detail?.is_dating_profile" class="margin-ver" lines="none">
        <!-- <ion-select placeholder="Slect Interests">
        
        <ion-select-option [value]="item" *ngFor="let item of interests">{{item}}</ion-select-option>
      </ion-select> -->

        <ion-select placeholder="Interests" multiple="true" class="a1" [(ngModel)]="user.interests">
          <ion-select-option [value]="item" *ngFor="let item of interests">{{ item }}</ion-select-option>
        </ion-select>
        <!-- <ion-input [(ngModel)]="search" placeholder="Add Tag" (ionChange)="interestSearched($event)"
        class="ion-margin-start f-pop-m">
      </ion-input> -->
        <!-- <ion-button (click)="addInput()" *ngIf="search && search != ''" style="font-size: 80%" slot="end" fill="clear">
        Submit
      </ion-button> -->
      </ion-item>

      <!-- <div *ngIf="list.length > 0" style="
        width: 79%;
        margin-left: 5%;
        background-color: white;
        z-index: 4;
        border: 2px solid lightgray;
        border-radius: 5px;
      ">
      <ion-list class="ion-no-padding">
        <ion-item *ngFor="let item of list" (click)="interestSelected(item)">
          <ion-label> {{ item }} </ion-label>
        </ion-item>
      </ion-list>
    </div> -->



      <ion-row *ngIf="user.interests.length > 0">
        <ion-col>
          <ion-chip *ngFor="let item of user.interests">
            <ion-label (click)="editTag(item)">{{ item }}</ion-label>
            <ion-icon (click)="removeInterest(item)" name="close"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-label>Hobbies</ion-label>
      <ion-item class="margin-ver" lines="none">
        <ion-input [(ngModel)]="user.profile_detail.hobbies" class="ion-margin-start">
        </ion-input>
      </ion-item>

      <ion-label>State</ion-label>
      <ion-item lines="none" class="margin-ver ion-no-padding">
        <ion-select cancelText="Cancel" okText="Ok" title="Select State" placeholder="Select State"
          class="a1 ion-margin-start" multiple="false" (ionChange)="stateChanged($event)" [(ngModel)]="state">
          <ion-select-option [value]="item.id" *ngFor="let item of states">
            {{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label *ngIf="cities && cities.length > 0">City</ion-label>
      <ion-item lines="none" class="margin-ver ion-no-padding" *ngIf="cities && cities.length > 0">
        <ion-select style="width: 100%;" cancelText="Cancel" okText="Ok" placeholder="Select City"
          class="a1 ion-margin-start" multiple="false" [(ngModel)]="city" (ionChange)="cityChanged($event)">
          <ion-select-option [value]="item.id" *ngFor="let item of cities">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-label>Location</ion-label>
      <ion-item class="margin-ver" lines="none">
        <ion-input [(ngModel)]="user.profile_detail.location" class="ion-margin-start">
        </ion-input>
      </ion-item>

      <ion-item class="margin-ver" lines="none" style="--padding-start: 0;">
        <ion-textarea class="a1" [(ngModel)]="user.profile_detail.brief_yourself" autoGrow="true"
          placeholder="Brief description of yourself"></ion-textarea>
      </ion-item>

      <ion-label>Ethnicity</ion-label>
      <ion-item lines="none" class="margin-ver">
        <ion-select cancelText="Cancel" okText="Ok" title="Select Options" placeholder="Select Options"
          class="a1 ion-margin-start" multiple="false" [(ngModel)]="ethnicity">
          <ion-select-option [value]="option" *ngFor="let option of ethnicitylist">
            {{option}}
          </ion-select-option>
        </ion-select>
      </ion-item>


      <div *ngFor="let ques of questions">
        <ion-label>{{ques?.content}}</ion-label>
        <ion-item *ngIf="ques?.content" lines="none" class="margin-ver">
          <ion-select cancelText="Cancel" okText="Ok" title="Select Options" placeholder="Select Options"
            class="a1 ion-margin-start" [multiple]="ques.is_multi_select == 1 ? true : false"
            (ionChange)="getSelectedTagOptions($event)" [(ngModel)]="ques.tag_option_ids">
            <ion-select-option [value]="option.id" *ngFor="let option of ques.tag_options">
              {{option?.content}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <!-- <ion-label *ngIf="communicationstylelist?.content">{{communicationstylelist?.content}}</ion-label>
      <ion-item *ngIf="communicationstylelist?.content" lines="none" class="margin-ver">
        <ion-select cancelText="Cancel" okText="Ok" title="Select Options" placeholder="Select Options"
          class="a1 ion-margin-start" multiple="true" (ionChange)="getSelectedTagOptions($event)"
          [(ngModel)]="communication">
          <ion-select-option [value]="option.id" *ngFor="let option of communicationstylelist.tag_options">
            {{option?.content}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label *ngIf="receivelove?.content">{{receivelove?.content}}</ion-label>
      <ion-item *ngIf="receivelove?.content" lines="none" class="margin-ver">
        <ion-select cancelText="Cancel" okText="Ok" title="Select Options" placeholder="Select Options"
          class="a1 ion-margin-start" multiple="true" (ionChange)="getSelectedTagOptions($event)" [(ngModel)]="love">
          <ion-select-option [value]="option.id" *ngFor="let option of receivelove.tag_options">
            {{option?.content}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label *ngIf="educationlevel?.content">{{educationlevel?.content}}</ion-label>
      <ion-item *ngIf="educationlevel?.content" lines="none" class="margin-ver">
        <ion-select cancelText="Cancel" okText="Ok" title="Select Options" placeholder="Select Options"
          class="a1 ion-margin-start" multiple="false" (ionChange)="getSelectedTagOptions($event)"
          [(ngModel)]="education">
          <ion-select-option [value]="option.id" *ngFor="let option of educationlevel.tag_options">
            {{option?.content}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label *ngIf="zodiacsign?.content">{{zodiacsign?.content}}</ion-label>
      <ion-item *ngIf="zodiacsign?.content" lines="none" class="margin-ver">
        <ion-select cancelText="Cancel" okText="Ok" title="Select Options" placeholder="Select Options"
          class="a1 ion-margin-start" multiple="false" (ionChange)="getSelectedTagOptions($event)" [(ngModel)]="zodiac">
          <ion-select-option [value]="option.id" *ngFor="let option of zodiacsign.tag_options">
            {{option?.content}}
          </ion-select-option>
        </ion-select>
      </ion-item> -->


    </div>

  </ion-card>

  <ion-card class="ion-margin-bottom" *ngIf="view_type === 2">
    <h2 class="f-pop-smb header">Membership</h2>
    <h1 style=" color: #000; margin: 0; font-size: 36px; margin-top: -12px; ">{{package[selected_package -1].name}}</h1>
    <p
      style="font-weight: bold;font-size: 20px;border-top: 1px solid #ddd;margin: 14px 0 0px 0;padding: 15px 0;color: #333;">
      Want To Update Your Package? </p>
    <div class="inputradio" *ngFor="let item of package; let i = index">
      <input type="radio" color="blue" name="package" [checked]="new_package == item.id"
        (change)="onPackageSelected(item.id)" />
      {{item.name}} - {{item.price}}
    </div>
    <div class="privacybtn">
      <a (click)="privacyPolicy()"><u>Privacy Policy</u></a>
      <a *ngIf="isIos()" (click)="TermofUse()"> <u>Term of Use</u></a>
    </div>
    <div>
      <ion-button (click)="updatePackage()" style="margin-top: 10px; margin-bottom: 30px" color="secondary">Update
        Package </ion-button>
      <ion-button *ngIf="isIos()" (click)="restorePurchases()" style="margin-top: 10px; margin-bottom: 30px"
        color="dark">Restore Purchases
      </ion-button>
    </div>
  </ion-card>

  <ion-card class="ion-margin-bottom" *ngIf="view_type === 3">
    <ion-item class="ion-no-padding">
      <ion-label class="ion-margin-start">
        <h2 class="f-pop-smb header">Password</h2>
      </ion-label>

      <!-- <ion-img class="icon-bg" src="assets/images/edit-ic.png"></ion-img> -->
    </ion-item>

    <ion-item class="margin-ver ion-no-padding">
      <ion-icon name="lock-closed-outline"></ion-icon>

      <ion-input [(ngModel)]="passwords.current_password" type="password" class="ion-margin-start f-pop-m"
        placeholder="Current Password">
      </ion-input>
    </ion-item>

    <ion-item class="margin-ver ion-no-padding">
      <ion-icon name="lock-closed-outline"></ion-icon>

      <ion-input [(ngModel)]="passwords.password" type="password" class="ion-margin-start f-pop-m"
        placeholder="New Password">
      </ion-input>
    </ion-item>

    <ion-item class="margin-ver ion-no-padding" lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>

      <ion-input [(ngModel)]="passwords.password_confirmation" type="password" class="ion-margin-start f-pop-m"
        placeholder="Confirm Password">
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-button class="f-pop-r btn savebtn" expand="block" color="primary" (click)="saveChanges()">
    SAVE CHANGES
  </ion-button>
  <br />
</ion-content>

<!-- <div *ngIf="list.length > 0" style="
    width: 79%;
    position: absolute;
    left: 8%;
    top: 78%;
    background-color: white;
    z-index: 4;
    border: 2px solid lightgray;
    border-radius: 5px;
  ">
  <ion-list class="ion-no-padding">
    <ion-item *ngFor="let item of list" (click)="interestSelected(item)">
      <ion-label> {{ item }} </ion-label>
    </ion-item>
  </ion-list>
</div> -->