.cover-photo {
  position: relative;

  img {
    height: 215px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
  }
}

.marksold {
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 5;
}

ion-card-title {
  font-family: 'PoppinsSemiBold';
  font-weight: normal;
}

ion-avatar {
  width: 45px;
  height: 45px;
  margin-right: 13px;
}

.owninfo {
  p {
    display: flex;
    align-items: center;
    color: #666;

    ion-icon {
      margin-right: 8px;
    }

    span {}
  }


}



/* ------------------------------ */

.prodimage {
  position: relative;

  ion-button {
    font-size: 15px;
  }
}

.productinfo {
  padding: 15px;
}

.productinfo {
  .price {
    text-align: right;
  }

  .price h1 {
    margin: 0;
    font-size: 31px;
  }
}

.productinfo .title {
  font-family: 'PoppinsSemiBold';
  font-size: 22px;
}

.productinfo p {
  margin: 0;
  font-size: 15px;
  color: #333;
}

.sellerinfo {
  background: #f7f7f7;
  padding: 15px;
}

.userinfo {
  display: flex;
  align-items: stretch;

  .userinfoname {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

.userinfo h2 {
  font-size: 16px;
  margin: 0;
}

.userinfo p {
  font-size: 13px;
  color: #333;
  margin: 0;
}

.userinfo p ion-icon {
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}

.slideitem {
  position: relative;
  height: 300px;
  width: 100%;
}

.slideitem img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}