<app-header [title]="'Product Details'" [back]="true"></app-header>
<ion-content>
  <div>
    <div class="prodimage">
      <img [src]="data.image_url ? data.image_url : 'assets/car.jpg'" alt="" />
      <ion-button (click)="mark(data.id)" class="marksold" *ngIf="!isMark && data.user_id === user_id">Mark As
        Sold</ion-button>
      <ion-button (click)="opentosell(data.id)" class="marksold" *ngIf="isMark && data.user_id === user_id">Open To
        Sell</ion-button>
    </div>
    <div class="productinfo">
      <p class="title">{{ data?.title }}</p>
      <p>{{ data?.description}}</p>
      <div class="price">
        <span>Price</span>
        <h1>{{ data?.price | currency }}</h1>
      </div>
    </div>
    <div class="sellerinfo">
      <!-- <h3>Seller Information</h3> -->
      <div class="userinfo">
        <ion-avatar slot="start">
          <img
            [src]=" data.user.profile_image ? data.user.profile_image : 'https://ionicframework.com/docs/img/demos/thumbnail.svg' "
            onerror="this.onerror=null;this.src='../../../assets/Images/dummy-avatar.png';" />
        </ion-avatar>
        <div class="userinfoname">
          <h2>{{ data.user.name }}</h2>
          <p *ngIf="data.user.email"><ion-icon name="mail-outline"></ion-icon><span>{{ data.user.email }}</span></p>
          <p *ngIf="data.user.phone"><ion-icon name="call-outline"></ion-icon><span>{{ data.user.phone }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-card>
    <div class="cover-photo">
      <img [src]="data.image_url ? data.image_url : 'assets/car.jpg'" alt="" />
      <ion-button (click)="mark(data.id)" class="marksold" *ngIf="!isMark && data.user_id === user_id">Mark As
        Sold</ion-button>
      <ion-button (click)="opentosell(data.id)" class="marksold" *ngIf="isMark && data.user_id === user_id">Open To
        Sell</ion-button>
    </div>
    <ion-card-header>
      <ion-card-title>{{ data?.price | currency }}</ion-card-title>
      <ion-card-subtitle>{{ data?.title }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header *ngIf="data.user">
      <ion-card-title>Seller Information</ion-card-title>
    </ion-card-header>
    <ion-item *ngIf="data.user" lines="none">
      <ion-avatar slot="start">
        <img
          [src]=" data.user.profile_image ? data.user.profile_image : 'https://ionicframework.com/docs/img/demos/thumbnail.svg' "
          onerror="this.onerror=null;this.src='../../../assets/Images/dummy-avatar.png';" />
      </ion-avatar>
      <ion-label class="owninfo">
        <h2>{{ data.user.name }}</h2>
        <p *ngIf="data.user.email"><ion-icon name="mail-outline"></ion-icon><span>{{ data.user.email }}</span></p>
        <p *ngIf="data.user.phone"><ion-icon name="call-outline"></ion-icon><span>{{ data.user.phone }}</span></p>
      </ion-label>
    </ion-item>
  </ion-card> -->
</ion-content>