<app-header [title]="'Product Details'" [back]="true"></app-header>
<ion-content>
  <ion-card>
    <div class="cover-photo">
      <!-- <img [src]="data.image_url" /> -->
      <img [src]="data.image_url ? data.image_url : 'assets/car.jpg'" alt="" />
      <ion-button (click)="mark(data.id)" class="marksold" *ngIf="!isMark && data.user_id === user_id">Mark As Sold</ion-button>
      <ion-button (click)="opentosell(data.id)" class="marksold" *ngIf="isMark && data.user_id === user_id">Open To Sell</ion-button>
      <!-- <ion-button (click)="mark(data.id)" class="marksold" *ngIf="data?.is_sold == 0 && data.user_id === user_id">Mark As Sold</ion-button>
      <ion-button (click)="opentosell(data.id)" class="marksold" *ngIf="data?.is_sold == 1 && data.user_id === user_id">Open To Sell</ion-button> -->
    </div>
    <ion-card-header>
      <ion-card-title>{{ data?.price | currency }}</ion-card-title>
      <ion-card-subtitle>{{ data?.title }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header *ngIf="data.user">
      <ion-card-title>Seller Information</ion-card-title>
    </ion-card-header>
    <ion-item *ngIf="data.user">
      <ion-avatar slot="start">
        <img [src]="
            data.user.profile_image
              ? data.user.profile_image
              : 'https://ionicframework.com/docs/img/demos/thumbnail.svg'
          " onerror="this.onerror=null;this.src='../../../assets/Images/dummy-avatar.png';" />
      </ion-avatar>
      <ion-label class="owninfo">
        <h2>{{ data.user.name }}</h2>
        <p *ngIf="data.user.email"><ion-icon name="mail-outline"></ion-icon><span>{{ data.user.email }}</span></p>
        <p *ngIf="data.user.phone"><ion-icon name="call-outline"></ion-icon><span>{{ data.user.phone }}</span></p>
      </ion-label>
    </ion-item>
    <!--
    <ion-item>
      <ion-item>
        <ion-label>{{ data.user.name }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ data.user.phone }}</ion-label>
      </ion-item>
    </ion-item> -->
  </ion-card>
</ion-content>