.spinner {
    flex-direction: column;
    height: calc(100vh - 100vh/2);

    p {
        margin-bottom: 0;
        font-size: 14px;
        margin-top: 5px;
    }
}

.card-content-ios ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.maincontent {
    width: 80%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 500px) {
    .maincontent {
      width: 96%;
    }
  }