ion-icon {
  font-size: 25px;
}

ion-card {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.title {
  font-size: 12px;
}

.padding-5 {
  padding: 5px;
}

ion-card-title{
  font-family: 'PoppinsSemiBold';
  font-weight: normal;
}

.detail {
  font-size: 9px;
  color: black;
  margin-top: 12px;
}

.margin-l-5 {
  margin-left: 5px;
}
h1{
  margin:20px;
  margin-bottom: 10px;
  // font-weight:700;
}
.market-place-content{
  // border:1px solid red;
  padding:5px;
}
ion-searchbar{
  --border-radius:20px;
}
ion-button{
  width:97%;
  padding-left:10px;
}
ion-item{
  width:97%;
}
ion-image{
  img{
    height: 100px;

  }
}
.image{
  height: 200px;
  width:100%;

}
.cover-photo {
  position: relative;
  overflow: hidden;
  img {
      height: 190px;
      object-fit: cover;
      width: 100%;
      border-radius: 25px 25px 0px 0px;
  }
}


.solditem {
  width: 60px;
  height: 33px;
  position: absolute;
  bottom: 6px;
  right: 1px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}


