ion-icon {
  font-size: 25px;
}

ion-card {
  // border-top-left-radius: 24px;
  // border-top-right-radius: 24px;
  border-radius: 0;
  margin-bottom: 0;
}


.spinner {
  margin-top: 10px;
  flex-direction: column;
  height: auto;

  p {
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 5px;
  }
}

.title {
  font-size: 12px;
}

.padding-5 {
  padding: 5px;
}

ion-card-title {
  font-family: 'PoppinsSemiBold';
  font-weight: normal;
}

.detail {
  font-size: 9px;
  color: black;
  margin-top: 12px;
}

.margin-l-5 {
  margin-left: 5px;
}

h1 {
  margin: 20px 13px;
  margin-bottom: 10px;
  font-size: 22px;
  // font-weight:700;
}

.market-place-content {
  // border:1px solid red;
  padding: 5px;
}

ion-searchbar {
  // --border-radius: 20px;
}


ion-button {
--background: #fff;
--color:#000;
--background-hover:none;
--background-hover:#fff;
--background-focused:#fff;
--background-activated:#fff
}

ion-item {
  width: 97%;
}

ion-image {
  img {
    height: 100px;

  }
}

.image {
  height: 200px;
  width: 100%;

}

.cover-photo {
  position: relative;
  overflow: hidden;

  img {
    height: 270px;
    object-fit: cover;
    width: 100%;
    // border-radius: 25px 25px 0px 0px;
  }
      height: 145px;
      object-fit: cover;
      width: 100%;
      border-radius: 25px 25px 0px 0px;
  }

.solditem {
  width: 60px;
  height: 33px;
  position: absolute;
  bottom: 6px;
  right: 1px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.item ion-label {
  font-family: poppins !important;
  font-size: 15px !important;
}

ion-item:last-child {
  --border-color: transparent;
}

ion-card-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

ion-label strong {
  font-weight: normal;
  font-family: 'PoppinsSemiBold';
}

.searchtop {
  display: flex;

  ion-searchbar {
    width: 52%;
    padding: 0 10px;
    height: 42px;
    padding-inline-end: 0px;
  }

  ion-select {
    padding: 0 10px;
    width: 45%;
    background: #efefef;
    height: 42px;
    border-radius: 8px;
    font-size: 14px;
  }
}

.flex-content{
  display: flex !important;
  gap: 20px;
  align-items: center;
}

.forYou{
border: 1px solid black;
border-radius: 25px;
padding: 5px 10px 5px 10px;

}
.sell{
  padding: 0px !important;
  background-color: #fff !important;
  font-size: 18px;
  font-weight: 800;
}

ion-select::part(placeholder) {
  color: #000;
}

