<ion-item class="ion-no-padding">
  <ion-avatar class="image">
    <img
      [src]="item.profile_image"
      onerror="this.onerror=null;this.src='assets/images/avatar.png';"
    />

    <!-- <p class="counter f-pop-m">20</p> -->
  </ion-avatar>

  <ion-label class="f-pop-r" style="margin-left: 10px">
    <h2 class="title f-pop-smb">{{ item.name }}</h2>
    <!-- <p class="content">Created By:{{ item.created_by }}</p>
    <p class="content">{{ item.participants }} Participants</p> -->
    <!-- <ion-row *ngIf="item.is_friend">
      <ion-col size="12">
        <ion-button (click)="unfriend()"> UnFriend </ion-button>

        <ion-button (click)="block()"> Block </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!item.is_friend">
      <ion-col size="12">
        <ion-button (click)="acceptRequest()"> Accept </ion-button>

        <ion-button (click)="ignoreRequest()"> Ignore </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-label>

  <!-- <ion-item slot="end" lines="none"></ion-item> -->
  <ion-icon
    *ngIf="item.is_friend"
    (click)="viewChat(item)"
    name="chatbubble-outline"
    style="font-size: 22px"
  >
  </ion-icon>
  <ion-icon
    style="margin-left: 2%; font-size: 22px"
    name="ellipsis-vertical-outline"
    (click)="showMenu($event)"
  >
  </ion-icon>
  <div
    *ngIf="item.hasUnread"
    style="
      background-color: tomato;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-left: -38px;
      margin-right: 30px;
      margin-top: -10px;
      position: relative;
    "
  ></div>

  <!-- <p class="time f-pop-m">{{ item.time }} Mins</p> -->
</ion-item>
