/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/fonts.scss";
@import "./theme/animations.scss";

* {
  font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PoppinsSemiBold;
}

.btn {
  height: 60px;
  --border-radius: 10px;
}

.background-image {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.center-align {
  text-align: center !important;
}

.copywrite {
  position: absolute;
  bottom: 30px;
  left: 10px;
  right: 10px;
  text-align: center;
  color: #fff;
}

.mb-0 {
  margin-bottom: 0;
}

.input {
  border: 1px solid #f1f1f1;
  // height: 60px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.03);
}

ion-input {
  font-family: poppins !important;
}

.in-btn {
  height: 60px;
}

.back-btn {
  // height: 40px;
  // width: 40px;
  border-radius: 20px;
}

.relative {
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.bg-white {
  background-color: white;
}

.small-text {
  font-size: 4px;
}

.white {
  color: white;
}

.transparent-banner {
  --background: rgba(0, 0, 0, 0.5);
}

app-header {
  position: relative;
}

.padding-5 {
  padding: 5px;
}

.title {
  font-size: 1.5vh;
}

.content {
  font-size: 1.3vh;
}

.shadow {
  border: 1.5px solid #f1f1f1;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.02),
    1px 1px 1px 1px rgba(0, 0, 0, 0.02);
}

.transparent-bg {
  --background: transparent;
  background-color: transparent;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.f-white {
  color: white;
  --color: white;
}

.m-l-10 {
  margin-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-t-5 {
  margin-top: 5px;
}

.highlight {
  // background-color: yellow;
  // --background: yellow;
}

.hidecard {
  display: none;
}

// .top-bg {
//   background-color: var(--ion-color-primary);
//   height: 30px;
//   border-radius: 25px;
//   margin-top: -50px;
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 16vh;
// }

.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.failureToast {
  --background: var(--ion-color-danger);
  color: #fff;
}

.halfmodal {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 98%;
  padding-top: 15%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}



.disclaimer-modal {
  z-index: 41;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  .overlay {
    position: absolute;
    background: rgb(0 0 0 / 56%);
    width: 100%;
    height: 100%;
  }

  .contentmodal {
    background: #fff;
    position: absolute;
    top: 0;
    width: 95%;
    border-radius: 7px;
    padding: 1px 15px;
    top: 0;
    bottom: 0;
    height: 228px;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin-bottom: 3px;
      font-weight: normal;
    }

    strong {
      font-size: 14px;
    }

    p {
      margin-top: 0px;
      font-size: 13px;
      color: #333;
      margin-bottom: 0;
    }

    button {
      background: #333;
      color: #fff;
      padding: 7px 0px;
      border-radius: 4px;
      margin-left: auto;
      width: 70px;
      display: block;
      font-size: 15px;
    }
  }
}

.freeuserslimittext {
  // margin-bottom: 15px;
  // border-bottom: 1px solid #ddd;
  // padding-bottom: 13px;
  font-family: "Poppins";
  text-align: center;

  &:after,
  &:before {
    content: "";
    width: 25px;
    height: 1px;
    background: #ddd;
    display: block;
    margin: 15px auto;
  }

  h2 {
    // font-weight: 600;
    margin-bottom: 8px;
    font-size: 22px;
    // font-family: 'Poppins';
  }

  p {
    margin: 0;
  }
}

.donthavebtn {
  ion-text {
    margin-bottom: 6px;
    display: block;
    font-size: 15px;
  }

  h2 {
    font-family: poppinsSemiBold;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.feedbackfrom {
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Poppins';
    text-align: center;
  }
}

.chatitem {
  ion-card-content {
    font-size: 14px !important;
    padding: 10px 12px;
  }

  ion-card {
    // padding-bottom: 10px !important;
    max-width: 292px !important;
    padding: 0;
    position: relative;
  }

  .downloadimg {
    position: absolute;
    background: #fff;
    width: 40px;
    height: 40px;
    z-index: 1;
    left: 10px;
    top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    color: #000;
    border-radius: 11px;
  }

  .chatimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
  }
}



.banner.image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0 0 0 / 40%);
    z-index: 0;
    left: 0;
    top: 0;
  }

  .heading1 {
    color: #fff;
    font-family: Anton;
    font-size: 50px;
    margin: 0;
    line-height: 1;
  }

  .content {
    z-index: 1;
    position: relative;
  }
}