.image {
  background: url(/assets/Banners/taxi-bann.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// .heading1 {
//   color: #fff;
//   margin-top: -10px;
//   font-family: Anton;
//   font-size: 48px;
//   margin-bottom: 25px;
//   padding-top: 90px;
//   padding-left: 15px;
// }

.text1 {
  color: #fff;
  font-size: 0.85rem;
  margin: 7px 0 0 0;
}