<app-header [title]="'Dashboard'" [showcurve]="false" [back]="true" [showMenu]="false"></app-header>

<ion-content>
  <div class="banner image">
    <div class="content">
      <h1 class="heading1">Dashboard</h1>
    </div>
  </div>

  <!-- <app-profile-ui [user_id]="user_id"></app-profile-ui> -->


  <div class="innercontent">
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="tab">
        <ion-segment-button value="friends">
          <ion-label>Friends</ion-label>
          <ion-icon name="people-outline"></ion-icon>
        </ion-segment-button>

        <!-- (click)="goToNotifications()" -->
        <ion-segment-button value="notifications">
          <ion-label>Notifications</ion-label>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-segment-button>

        <!-- <ion-segment-button value="alert">
          <ion-label>Alerts</ion-label>
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-segment-button> -->

        <ion-segment-button value="settings">
          <ion-label>Settings</ion-label>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <div *ngIf="tab === 'notifications'">
      <div class="notifications" *ngFor="let item of notifications">
        <app-notification-item [item]="item" (acceptClicked)="acceptRequest($event)"
          (ignoreClicked)="ignoreRequest($event)"></app-notification-item>
        <!-- <div class="notificationitem">
          <img [src]="item?.profile_image" onerror="this.onerror=null;this.src='/assets/Images/dummy-avatar.png';" />
          <div>
            <h5>{{item?.notificationable?.addressee?.name || item?.notificationable?.requester?.name}}</h5>
            <p>{{item.content}}</p>
            <span>{{item.updated_at | date:"MMM dd, yyyy 'at' hh:mm a"}}</span>
          </div>
        </div> -->
      </div>
      <div *ngIf="!loading && notifications.length == 0" class="notifcontent">
        <p>Notification not found</p>
      </div>
    </div>


    <div *ngIf="tab === 'settings'" class="settings">
      <ion-list>
        <ion-item (click)="goToProfile()">
          <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/pages/edit-profile']">
          <ion-icon aria-hidden="true" name="create-outline" slot="start"></ion-icon>
          <ion-label>Edit Profile</ion-label>
        </ion-item>
        <ion-item *ngIf="orderslength != 0" [routerLink]="['/pages/my-orders']">
          <ion-icon aria-hidden="true" name="receipt-outline" slot="start"></ion-icon>
          <ion-label>Orders</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/pages/blocked-users']">
          <ion-icon aria-hidden="true" name="people-outline" slot="start"></ion-icon>
          <ion-label>BLocked Users</ion-label>
        </ion-item>
        <ion-item (click)="showAlert()">
          <ion-icon aria-hidden="true" name="trash-outline" slot="start"></ion-icon>
          <ion-label>Delete Account</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="tab === 'friends'">
      <!-- <h3 class="tabtitle">Current Friends</h3> -->
      <ion-grid class="no-padding" *ngIf="!loading">
        <ion-row *ngFor="let item of friends"> <!--  | filter:search -->
          <ion-col class="no-padding" size="12">
            <chat-row [item]="item"></chat-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="!loading && friends.length == 0" class="notifcontent">
        <p class="nodatafound">No data found</p>
      </div>
    </div>

    <div *ngIf="tab === 'alert'">
      <ion-toolbar>
        <ion-segment (ionChange)="innerSegmentChanged($event)" [value]="innertab">
          <ion-segment-button value="recipe">
            <ion-label>Recipe Alerts</ion-label>
          </ion-segment-button>
          <ion-segment-button value="post">
            <ion-label>Post Alerts</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <div *ngIf="innertab === 'recipe'">
        <div class="currentfriends" *ngIf="!loading && recipesAlerts.length != 0">
          <div class="frienditem" *ngFor="let item of recipesAlerts" [routerLink]="['/pages/recipes']">
            <img [src]="item.alertable.media_upload?.url"
              onerror="this.onerror=null;this.src='/assets/Images/dummy-avatar.png';" />
            <p>{{item?.alertable?.content}}</p>
            <span>{{item?.updated_at}}</span>
          </div>
        </div>

        <div *ngIf="!loading && recipesAlerts.length == 0" class="notifcontent">
          <p class="nodatafound">No data found</p>
        </div>
      </div>

      <div *ngIf="innertab === 'post'">
        <div class="currentfriends" *ngIf="!loading">
          <div class="frienditem" *ngFor="let item of postAlerts" [routerLink]="['/pages/post-adventure']">
            <img [src]="item.alertable.media_upload?.url"
              onerror="this.onerror=null;this.src='/assets/Images/dummy-avatar.png';" />
            <div>
              <p>{{item?.alertable?.content}}</p>
              <span>{{item?.updated_at | date:"MMM dd, yyyy 'at' hh:mm a"}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="!loading && postAlerts.length == 0" class="notifcontent">
          <p class="nodatafound">No data found</p>
        </div>
      </div>

    </div>

    <div class="spinner" *ngIf="loading">
      <ion-spinner name="lines" color="primary"></ion-spinner>
      <p>Loading...</p>
    </div>

    <!-- <div class="currentfriends">
      <div class="frienditem" *ngFor="let item of currentFriends">
        <img [src]="item.profile_image" onerror="this.onerror=null;this.src='/assets/Images/dummy-avatar.png';" />
        <p>{{item.name}}</p>
      </div>
    </div> -->



  </div>

  <footer></footer>
</ion-content>

<!-- <chat-floating-button></chat-floating-button> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->