.image {
    background: url('/assets/Banners/contact-bann.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ion-title {
    padding: 0;
    left: 50px;
    text-align: left !important;
}

ion-grid {
    padding: 0;

    ion-col {
        padding: 0;
    }
}

ion-segment-button {
    width: 128px;
    height: 56px;
}

.chatitem:nth-child(odd) {
    background-color: #f7f7f7;
}

.spinner {
    margin-top: 10px;
    flex-direction: column;
    height: 300px;

    p {
        margin-bottom: 0;
        font-size: 14px;
        margin-top: 5px;
    }
}

.innercontent {
    padding: 15px 0 15px 0px;

    .tabtitle {
        font-size: 18px;
    }

    .tabsitems {
        display: flex;
        align-items: center;

        button {
            padding: 10px 13px;
            border-radius: 5px;
            background: #333;
            margin-right: 6px;
        }
    }

}

.currentfriends {
    padding: 10px;

    .frienditem {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

        .currentfriends .frienditem span {
            font-size: 11px;
            color: #666;
            display: block;
            text-align: right;
        }

        .currentfriends .frienditem div {
            width: 100%;
        }

        img {
            width: 45px;
            height: 45px;
            border-radius: 50px;
            margin-right: 10px;
        }

        p {
            margin: 0;
            text-transform: capitalize;
            font-family: 'PoppinsSemiBold';
            font-size: 14px;
        }

        span {
            font-size: 12px;
        }
    }
}

.settings {
    ion-label {
        font-family: 'poppins';
        font-size: 15px;
    }

    ion-icon {
        font-size: 22px;
    }
}

.nodatafound {
    font-size: 14px;
    text-align: center;
}

ion-segment {
    margin-bottom: 10px;
}

.notifications {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;

    .notificationitem {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            margin-right: 10px;
            border-radius: 40px;
            height: 40px;
        }

        h5 {
            margin: 0;
            text-transform: capitalize;
        }

        p {
            margin: 0;
            font-size: 14px;
        }

    }

    &:last-child {
        border-bottom: 0;
    }

    span {
        font-size: 11px;
        color: #666;
        margin-top: 0px;
        display: block;
    }
}


.notifications.unread {
    background: #eee;
    position: relative;
    border-left: 3px solid #000;
}