.image {
    background: url('/assets/Banners/contact-bann.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ion-title {
    padding: 0;
    left: 50px;
    text-align: left !important;
}

ion-grid {
    padding: 0;

    ion-col {
        padding: 0;
    }
}

.spinner {
    margin-top: 10px;
    flex-direction: column;
    p{
        margin-bottom: 0;
        font-size: 14px;
        margin-top: 5px;
    }
}

.innercontent {
    padding: 15px;

    .tabtitle {
        font-size: 18px;
    }

    .tabsitems {
        display: flex;
        align-items: center;

        button {
            padding: 10px 13px;
            border-radius: 5px;
            background: #333;
            margin-right: 6px;
        }
    }

}

.currentfriends {
    padding: 10px;

    .frienditem {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

        img {
            width: 45px;
            height: 45px;
            border-radius: 50px;
            margin-right: 10px;
        }

        p {
            margin: 0;
            text-transform: capitalize;
            font-family: 'PoppinsSemiBold';
        }
    }
}