<ion-grid>
  <ion-row class="">
    <ion-col size="12">
      <ion-item lines="none" class="searchitem ion-no-padding">
        <ion-searchbar [(ngModel)]="_search" (ngModelChange)="updateSearchResults()" class=""
          placeholder="Search people..." (ionClear)="onSearch(true)">
        </ion-searchbar>
        <!-- <ion-button (click)="onSearch()" class="searchBtn"> <ion-icon class="ion-text-center" name="search"> </ion-icon>
        </ion-button> -->
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="spinner" *ngIf="loading && !refreshing">
    <ion-spinner name="lines" color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>

  <div *ngIf="!loading">
    <!-- <h2 class="f-pop-smb title ion-margin-start">DATING</h2> -->
    <ion-item>
      <!-- <ion-label>C</ion-label> -->
      <ion-select placeholder="Select One" [(ngModel)]="dating_users" (ngModelChange)="getData()">
        <ion-select-option [value]="0">HUNTING</ion-select-option>
        <ion-select-option [value]="1" *ngIf="role_id == 4 && dating_enabled">DATING</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-grid *ngIf="!loading && !refreshing && datings.length == 0">
    <ion-row>
      <ion-col size="12">
        <p style=" text-align: center; font-size: 14px; color: #666; ">No Data Found</p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="4" *ngFor="let item of datings | filter:search">
        <dating-item [item]="item" (update)="getData()"></dating-item>
      </ion-col>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>

</ion-content>