.searchBtn {
    height: 45px;
    width: 50px;
    border-radius: 25px;
    margin-top: -9px;
}

ion-searchbar {
    padding-right: 0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.searchbar-input-container.sc-ion-searchbar-ios {
    height: 47px;
}

.searchitem {
    --padding-start: 0;
}

.spinner {
    height: 86%;
}