<div class="image">
  <div class="content">
    <p class="text">WELCOME TO</p>
    <h3 class="heading1">HUNTERS</h3>
    <h1 class="heading2">SOCIAL.COM</h1>
    <!-- <ion-button color="dark" class="btn1" (click)="navigate('store')"><b>SHOP NOW</b></ion-button> -->
    <ion-button color="danger" class="btn1" (click)="navigatetodating()"><b>Join Dating Page Here</b></ion-button>
    <!-- <ion-button color="light" class="btn2" (click)="navigate('contact-us')"><b>CONTACT US</b></ion-button> -->
    <ion-button color="light" class="btn2" (click)="gotoChatBot()"><b>Ask Uncle Buck</b></ion-button>

    <!-- <p class="hangouttext">Or just hang out and communicate with each other</p>
    <div style="height: 1px; width: 100px; background: #f7f7f7;"></div> -->

    <!-- <ion-button color="light" class="btn2" (click)="navigate('test')"><b>Payment</b></ion-button> -->
    <!-- <ion-button color="light" class="btn2" (click)="invite()"><b>Invite</b></ion-button> -->
    <div class="freeuserslimittext" *ngIf="!showpackage">
      <h3>First 5000 Members: Free Lifetime Membership</h3>
      <h2>First Lifetime User</h2>
      <p>{{usertoavail}} / 5000</p>
    </div>
  </div>
</div>