<app-header [title]="'Hiking'"></app-header>

<ion-content>

  <div class="banner image">
    <div class="content">
      <h1 class="heading1">Hiking</h1>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img class="img1" [src]="'https://hunterssocial.com/assets/images/hiking/img1.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img2.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img3.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img4.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img5.png'" />
      </ion-col>
      <ion-col size="12">
        <img class="img1" [src]="'https://hunterssocial.com/assets/images/hiking/img6.png'" />
      </ion-col>
      <ion-col size="12">
        <img class="img1" [src]="'https://hunterssocial.com/assets/images/hiking/img7.png'" />
      </ion-col>
      <ion-col size="12">
        <img class="img1" [src]="'https://hunterssocial.com/assets/images/hiking/img8.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img9.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img10.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img11.png'" />
      </ion-col>
      <ion-col size="6">
        <img class="img2" [src]="'https://hunterssocial.com/assets/images/hiking/img12.png'" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <footer></footer>
</ion-content>